extends _policies.pug

block append subtitle
  | Privacy policy

block content
  h2 Privacy policy
  p This Privacy Policy describes how inputlabs.io (the "Site" or "we") collects, uses, and discloses your Personal Information when you visit the Site.

  hr
  h3 Contact
  p After reviewing this policy, if you have additional questions, want more information about our privacy practices, or would like to make a complaint, please contact us by e-mail at #[span.lima #[span.lima1]] or by mail using the details provided below:
  p Lapinlahdenkatu 16, 00180 Helsinki, Finland.

  hr
  h3 Collecting Personal Information
  p When you visit the Site, we collect certain information about your device and your interaction with the Site. In this Privacy Policy, we refer to any information about an identifiable individual (including the information below) as "Personal Information". See the list below for more information about what Personal Information we collect and why.

  ul
    li Website aggregated usage data (NOT personally identifiable)
      ul
        li Purpose of collection: Determine if the website is working and serving everyone correctly, determine overall interest of website content.
        li Source of collection: collected automatically when you access our Site.
        li Disclosure for a business purpose: data kept by #[+ax('https://plausible.io') Plausible], then shared with Us.
        li Personal Information collected: version and agent of the web browser, approximate location, what pages are visited, referral link, outbound links, and how the users interact with the Site.
        li More details at: #[+ax('https://plausible.io/data-policy') https://plausible.io/data-policy].
  ul
    li Logs on content delively network service
      ul
        li Purpose of collection: Firebase Hosting uses IP addresses of incoming requests to detect abuse and provide customers with usage data.
        li Source of collection: collected automatically when data is transferred to you.
        li Disclosure for a business purpose: data kept by #[+ax('https://firebase.google.com') Firebase], only shared with Us if manually requested.
        li Personal Information collected: IP address.
        li More details at: #[+ax('https://firebase.google.com/support/privacy/') https://firebase.google.com/support/privacy].

  hr
  h3 Sharing Personal Information
  p We share your Personal Information with service providers to help us provide our services, as described above.

  hr
  h3 Using Personal Information
  p We do not directly use Personally Identifiable Information on the Site for any purpose.

  h4 Lawful basis
  p Pursuant to the General Data Protection Regulation ("GDPR"), if you are a resident of the European Economic Area ("EEA"), we process your personal information under the following lawful bases:
  ul
    li Your consent;
    li The performance of the contract between you and the Site;
    li Compliance with our legal obligations;
    li To protect your vital interests;
    li To perform a task carried out in the public interest;
    li For our legitimate interests, which do not override your fundamental rights and freedoms.

  h4 Retention
  p When You visit the Site, our providers could retain your Personal Information for their operations (as described above) temporally unless you ask to erase this information. For more information on your right of erasure, please see the 'Your rights' section below.

  h4 Automatic decision-making
  p If you are a resident of the EEA, you have the right to object to processing based solely on automated decision-making (which includes profiling), when that decision-making has a legal effect on you or otherwise significantly affects you.
  p We DO NOT engage in fully automated decision-making that has a legal or otherwise significant effect using customer data.
  p Our provider Firebase may use limited automated decision-making to prevent abuse, that does not have a legal or otherwise significant effect on you.

  hr
  h3 Your rights

  h4 GDPR
  p If you are a resident of the EEA, you have the right to access the Personal Information we hold about you, to port it to a new service, and to ask that your Personal Information be corrected, updated, or erased. If you would like to exercise these rights, please contact us through the contact information above.

  hr
  h3 Local data

  h4 Cookies
  p The Site do NOT use cookies.

  h4 LocalStorage
  p The Site stores data locally in your browser to remember configurable website settings, that do NOT contain Personally Identifiable Information, are not unique, are only stored after manual user request, and are NOT transmitted outside your device.
  ul
    li Disable website color animation
      ul
        li Value name: rainbow.
        li Value data: true or false.

  hr
  h3 Do Not Track
  p Please note that because there is no consistent industry understanding of how to respond to "Do Not Track" signals, we do not alter our data collection and usage practices when we detect such a signal from your browser.

  hr
  h3 Changes
  p We may update this Privacy Policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.

  hr
  h3 Complaints
  p As noted above, if you would like to make a complaint, please contact us by e-mail or by mail using the details provided under "Contact" above.
  p If you are not satisfied with our response to your complaint, you have the right to lodge your complaint with the relevant data protection authority.
