-
  const active = (bool) => bool ? 'active' : 'inactive'

h1.dynamic
  a.sub(class=active(PAGE=='open_source') href='/contribute/open_source') Open Source
  a.sub(class=active(PAGE=='patreon') href='/contribute/patreon') Patreon
  a.sub(class=active(PAGE=='gallery_community') href='gallery_community') Community Gallery
