extends ../_template.pug

block title
  | Open source

block page
  //- include _title.pug
  h1 Open source

  div.boxes.grid
    div.box
      h2 Sources and schematics
      p #[em Explore, modify, and re-share!] This is all about our open source projects, so feel free to play with them, propose features, report bugs, and submit pull requests with improvements.
      p Browse our #[+ax(org.repos) GitHub Repositories] for the source code and hardware designs.

    +boximglink(
      '/static/community/repo_case.jpg',
      org.repo+'alpakka_case',
      'Alpakka 3D models',
      true,
      true
    )

    +boximglink(
      '/static/community/repo_firmware.jpg',
      org.repo+'alpakka_firmware',
      'Alpakka firmware',
      true,
      true
    )

    +boximglink(
      '/static/community/repo_pcb.jpg',
      org.repo+'alpakka_pcb',
      'Alpakka Printed Circuit Board',
      true,
      true
    )

    +boximglink(
      '/static/community/repo_ctrl.png',
      org.repo+'ctrl',
      'Ctrl app',
      true,
      true
    )
