extends ../../_template.pug

block title
  block subtitle
    | Alpakka manual -
    |

block page
  include ../../_device_selector.pug

  mixin home
    img(src='/static/manual/button_home.svg' height='14px')
  mixin select
    img(src='/static/manual/button_select.svg' height='14px')
  mixin hat
    img(src='/static/manual/button_hat.svg' height='14px')
  mixin dpad_up
    img(src='/static/manual/button_dpad.svg' height='14px')
  mixin dpad_right
    img(src='/static/manual/button_dpad.svg' height='14px' style='transform:rotate(90deg)')
  mixin dpad_down
    img(src='/static/manual/button_dpad.svg' height='14px' style='transform:rotate(180deg)')
  mixin dpad_left
    img(src='/static/manual/button_dpad.svg' height='14px' style='transform:rotate(270deg)')

  div.boxes.wiki
    div
      div.box.index
        h2 Alpakka manual

        h3 DIY & Hardware
        div
          +wikilink('diy_getting_started') Getting Started
          +wikilink('diy_pcb') Order PCB
          +wikilink('diy_solder') Solder PCB
          +wikilink('diy_case') 3D print parts
          +wikilink('diy_assembly') Assembly

        h3 Setup
        div
          +wikilink('firmware') Firmware
          +wikilink('mouse') Mouse
          +wikilink('tune') Tune settings
          +wikilink('calibrate') Calibrate
          +wikilink('wireless') Wireless
          +wikilink('ctrl_app') Ctrl app

        h3 Common problems
        div
          +wikilink('problem_led') LED blinking
          //- +wikilink('problem_soldering') Soldering problems
          //- +wikilink('problem_fitting') Parts fitting
          div.inactive Soldering problems #[i (soon)]
          div.inactive Parts fitting #[i (soon)]
          div.inactive Touch detection #[i (soon)]

        h3 Profiles
        div
          +wikilink('profiles') About profiles
          +wikilink('profile_home') Home (shortcuts)
          +wikilink('profile_fps_fusion') FPS Fusion
          +wikilink('profile_fps_wasd') FPS WASD
          +wikilink('profile_console') Console
          +wikilink('profile_console_legacy') Console Legacy
          +wikilink('profile_desktop') Desktop
          +wikilink('profile_racing') Racing
          div.inactive Flight #[i (soon)]
          div.inactive RTS #[i (soon)]

        h3 Developer
        div
          +wikilink('dev') Firmware development
          +wikilink('dev_unix') Setup in Linux
          +wikilink('dev_windows') Setup in Windows

        h3 Other
        div
          +wikilink('faq') Frequently Asked Questions
          +wikilink('specs') Specs

    div.box.entry
      block content
