extends _manual.pug

block append title
  | 3D print case & buttons

block content
  h2 3D-printed case & buttons
  hr

  h3 3D models
  p The source designs are available from the #[+ax('https://github.com/inputlabs/alpakka_case') Alpakka 3D-print] repository, along with the #[+ax('https://github.com/inputlabs/alpakka_case/releases/latest') rendered models for each release] of the reference design.
  p The models are optimized for modern FDM (Fused Deposition Modeling) printers, which should easily be able to print all parts of the Alpakka. 
  hr

  h3 3D printer
  p The parts are designed to not require any additional supports, even though for specific parts, such as the thumbstick and the home button, some supports are recommended for optimal performance (see below). Printers are expected to print at least 10 millimeter long bridges with reasonable accuracy.
  p Our best experience is with FDM printer from #[+ax('https://www.prusa3d.com') Prusa].
  p SLA / MSLA (Masked Stereolithography Apparatus, a.k.a. Resin) printers should also be an option, even though we have not yet tested this technology.

  p While private ownership of a 3D printer becomes increasingly common, you should alternatively check if such printers are available in your local library, university, or tinkerer workshop. Another option is the use of local or online 3D-printing services.
  p We also have a #[em #diy-share-parts] channel on our #[+ax(org.discord) Discord] server, with a very active and helpful community. There you may be able to get advice wrt. 3D printing, printing the Alpakka, 3D printers in general, or 3D printing services. You may also be able to find people in your vicinity, who are willing to help with your printing needs, or to share cost.
  hr

  h3 Materials
  p There are no specific requirements wrt. the selection of materials. For FDM printers, any suitable material should work well. Some, especially silk-PLA appear to be more brittle and thus less suitable for some components, such as the thumbstick.
  p Our best experience is with PLA from #[+ax('https://prusament.com/') Prusa].
  p One requirement for the hexagon is conductive PLA. We have tested a number of different materials from various providers, but so far the #[+ax('https://www.proto-pasta.com/collections/all/products/conductive-pla') conductive PLA from Protopasta] was the only one that could reliable provide good results.
  hr

  h3 Sets of 3D printed components
  p In the following we distinguish components, based on the recommended printing material, as well as the recommended settings for FDM printing.
  p The the #[+ax('https://github.com/inputlabs/alpakka_case/releases/latest') models] are independent of the actually used printer.

  h4 Set A
  p The top / front part of the case.

  img.hm.mt.mr(src='/static/manual/SetA.png')

  table.data
    tr
      td Recommended material
      td PLA (1.75 mm), primary color
    tr
      td Recommended layer height / setting
      td 0.15 mm / quality
    tr
      td Recommended perimeters
      td 2
    tr
      td Recommended infill
      td Gyroid 10%
    tr
      td Used filament
      td ~60 grams
    tr
      td Printing time
      td ~8 hours

  p No supports, or any other special settings are required.
  hr

  h4 Set B
  p The bottom / back part of the case.

  img.hm.mt.mr(src='/static/manual/SetB.png')

  table.data
    tr
      td Recommended material
      td PLA (1.75 mm), secondary color
    tr
      td Recommended layer height
      td 0.15 mm / quality
    tr
      td Recommended perimeters
      td 2
    tr
      td Recommended infill
      td Gyroid 10%
    tr
      td Used filament
      td ~56 grams
    tr
      td Printing time
      td ~7.5 hours
  
  p The first layer should be printed very slowly (we recommend a max. First layer speed of 10 mm / s) to ensure that the small support pillars that are part of the model remain well attached to the print bed. If this proves to be insufficient, additional brims may be necessary for your printer.
  p No additional supports should be required, as long as the printer is able to print ca. 10 mm long bridges in reasonable quality.
  hr

  h4 Set C
  p This bundle contains the L1/R1 triggers, L2/R2 triggers, L4/R4 triggers, and the 8-directional hat, as well as the internal anchors, and the wheel-holder.
  p We include the internal components (anchors and the wheel-holder) here for simplicity, even though, as they are not externally visible, we usually print them in recycled PLA to be more environmentally friendly.
  
  img.hm.mt.mr(src='/static/manual/SetC.png')

  table.data
    tr
      td Recommended material
      td PLA (1.75 mm), primary color
    tr
      td Recommended layer height
      td 0.15 mm / quality
    tr
      td Recommended perimeters
      td 2
    tr
      td Recommended infill
      td Gyroid 15%
    tr
      td Used filament
      td ~17 grams
    tr
      td Printing time
      td ~3 hours

  p No supports, or any other special settings are required.
  hr

  h4 Set D
  p This bundle contains the ABXY buttons, the directional buttons, as well as the scrollwheel-shaft.

  img.hm.mt.mr(src='/static/manual/SetD.png')

  table.data
    tr
      td Recommended material
      td PLA (1.75 mm), secondary color
    tr
      td Recommended layer height
      td 0.07 mm / ultradetail
    tr
      td Recommended perimeters
      td 2
    tr
      td Recommended infill
      td Gyroid 15%
    tr
      td Used filament
      td ~9 grams
    tr
      td Printing time
      td ~3.5 hours
  
  p These should be printed with a reduced layer height in order to reduce grinding between the buttons and the case, and to ensure a proper, central fit of the scrollwheel-shaft in the scrollwheel itself.
  hr

  h4 Set E
  p This bundle contains the central select buttons.

  img.hm.mt.mr(src='/static/manual/SetE.png')

  table.data
    tr
      td Recommended material
      td PLA (1.75 mm), primary color
    tr
      td Recommended layer height
      td 0.07 mm / ultradetail
    tr
      td Recommended perimeters
      td 2
    tr
      td Recommended infill
      td Gyroid 15%
    tr
      td Used filament
      td ~3.5 grams
    tr
      td Printing time
      td ~1.5 hours
  
  p These should be printed with a lower layer height in order to reduce grinding between the buttons and the case.
  hr

  h4 Set F
  p This bundle contains the thumbstick, as well as the home button.

  img.hm.mt.mr(src='/static/manual/SetF.png')

  table.data
    tr
      td Recommended material
      td PLA (1.75 mm), secondary color
    tr
      td Recommended layer height
      td 0.07 mm / ultradetail (see notes below for thumbstick)
    tr
      td Recommended perimeters
      td 2
    tr
      td Recommended infill
      td Gyroid 15%
    tr
      td Used filament
      td ~2.5 grams
    tr
      td Printing time
      td ~1 hour
  
  p These should be printed with a lower layer height in order to reduce grinding between the buttons and the case.
  p To ensure a good quality, it is recommended that the overhanging part of the thumbstick (from 13 - 16 mm) are printed with a layer height of 0.15 mm and at a slower speed.
  img.hm.mt.mr(src='/static/manual/settings.png')
  p The thumbstick will also require support enforcers on areas indicated here in blue. (For completeness the areas indicated in red do not require supports. For easier post-processing any kinds of supports should be avoided in the areas indicated in red).
  img.hm.mt.mr(src='/static/manual/thumbstick.png')
  p Please note also that for esthetic reasons the home button is at an 8.4 degree angle, which will also require appropriate supports. While not strictly necessary, it makes for a more pleasing, level top surface.
  hr

  h4 Set G
  p This bundle contains the battery cover, as well as the main part of the wheel.

  img.hm.mt.mr(src='/static/manual/SetG.png')

  table.data
    tr
      td Recommended material
      td PLA (1.75 mm), secondary color
    tr
      td Recommended layer height
      td 0.15 mm / quality
    tr
      td Recommended perimeters
      td 2
    tr
      td Recommended infill
      td Gyroid 15%
    tr
      td Used filament
      td ~8.5 grams
    tr
      td Printing time
      td ~1 hour
  
  p No supports, or any other special settings are required.
  hr

  h4 Set H

  p The hexagonal touch surface must be printed with an electrically conductive material in order to detect the user's touch.

  img.hm.mt.mr(src='/static/manual/SetH.png')
  table.data
    tr
      td Material
      td Conductive PLA (1.75 mm)
    tr
      td Recommended layer height
      td 0.15 mm / quality
    tr
      td Recommended perimeters
      td 3
    tr
      td Recommended infill
      td Solid 100%
    tr
      td Used filament
      td ~3.5 grams
    tr
      td Printing time
      td ~0.5 hours

  p The hexagonal touch surface, must be printed with an electrically conductive material so the piece becomes capacitative.  
  hr

  h4 Set I
  p The soldering helpers
  img.hm.mt.mr(src='/static/manual/SetI.png')

  table.data
    tr
      td Recommended material
      td PLA (1.75 mm), primary color
    tr
      td Recommended layer height
      td 0.2 mm / speed
    tr
      td Recommended perimeters
      td 2
    tr
      td Recommended infill
      td Gyroid 20%
    tr
      td Used filament
      td ~15 grams
    tr
      td Printing time
      td ~1.5 hours
  
  p No supports, or any other special settings are required.
  p To be more environmentally friendly we usually print these in recycled PLA.
  hr

  p We may at a later stage also provide these settings in the form of 3MF files. We have, however, experienced significant differences between printer models (and even printers and printing environments), which would necessitate separate 3MF files for each printer model.
  p Additionally, 3MF files cannot contain information regarding object-specific settings, such as for the thumbstick in set F above, without the actual model, thus requiring the model to be part of the 3MF file. Accordingly, any change in the model would require a change in every of those printer-model-specific 3MF files.

  h3 Next
  ul
    li: +a('diy_assembly') Assembly
