extends _manual.pug

block append title
  | Getting Started

block content
  h2 Getting Started
  hr

  h3 Watch the video
  p The #[+ax('https://www.youtube.com/watch?v=yYwrVL2b9eM') DIY video] should give you a fairly good idea about what to expect, and what it takes to get started.
  +axc('https://www.youtube.com/watch?v=yYwrVL2b9eM')
    img.ws.mt(src='/static/blog/youtube_thumbnail_diy.jpg')
  hr

  h3 Relevant manual pages
  ul
    li List with all #[+a('/alpakka/components') components] and suppliers.
    li Ordering a #[+a("diy_pcb") Printed Circuit Board].
    li How to #[+a("diy_solder") solder] the components. #[i (Optional)].
    li #[+a("diy_case") 3D-printing] controller case and buttons.
    li How to #[+a("diy_assembly") assemble] all the parts together.

  hr
  h3 Support on Discord
  ul
    li #[+ax(org.discord) #diy-support]: If you need help, or have any questions.
    li #[+ax(org.discord) #diy-share-parts]: Community members in your region might be able to share extra parts with you.
