extends _manual.pug

block append title
  | Frequently Asked Questions

block content
  h2 Frequently Asked Questions
  hr

  +h3id('gyro') How the gyro works?
  p The mouse emulation works by #[em touching the hexagon] on the right side of the controller, and turning the controller as if it was a VR controller. The gyro is NOT active when not touching the hexagon. For more details see #[+a('mouse') Mouse Emulation] manual page, or watch the #[+ax('https://www.youtube.com/watch?v=o-CsdLEzD5Y') Gyro guide] video on Youtube.
  hr

  +h3id('performance') It is as good as a mouse?
  p It depends, in theory the Alpakka gyro is as good as a mouse being used on a medium-size mouse mat (about 25 cm. diagonal). Also as if the mouse mat had zero friction, which is sometimes good and sometimes bad.
  p It can definitely be used in competitive games, and keep a good fight against mouse players, check this #[+ax('https://www.youtube.com/watch?v=bmN4ZRrZH2E') Demo Video].
  hr

  +h3id('mouse') Are you trying to replace mouse and keyboard?
  p Absolutely not, mouse is a superb input method, and we love it.
  p Gyro is just an alternative for people not able to use a mouse or keyboard, or playing on a sofa.
  hr

  +h3id('learn') How long it takes to learn gyro?
  p It varies person to person, but in our testing we found that approximately takes:
  ul
    li 1 minute to have better results than with a traditional gamepad (though it still feels weird).
    li 1 week to become familiar with it (and forget you are using gyro).
    li 1 month to master it.
  hr

  +h3id('rate') What is the polling rate?
  p Default firmware polling rate is #[em 250 hz] (both wired and wireless), but it can be overclocked via mods to #[em 1000 hz].
  p But have in mind that the perceived latency of the Alpakka gyro is extremely low compared with other gyro controllers, because it does not apply any filtering nor smoothing to the IMU data.
  hr

  +h3id('rate') What is latency?
  p The latency while the controller is connected via USB is negligible.
  p The latency while connected to the reference design #[em Dongle] is measured to be around #[em 2 milliseconds].
  hr

  +h3id('systems') In which systems does it work?
  p The Alpakka is regularly tested in #[em Windows 11] and #[em Steam Deck]. But It should also work in Windows 10 and most Linux distros.
  p MacOS is NOT an officially supported OS by the reference design firmware.
  hr

  +h3id('games') Which game launchers and games are compatible?
  p All game launchers are compatible, since the firmware does all the processing in the controller, and no apps nor drivers are required on the computer.
  p 100% of games are compatible when emulating a mouse and keyboard.
  p Approximately 80% of games are compatible when using #[em mixed input] (simultaneous mouse + thumbstick input).
  hr

  +h3id('steam') It is compatible with Steam input configurator?
  p Yes, the #[em Xinput emulated device] shows up in the #[em Steam UI] as a normal controller, so remapping gamepad controls is possible in this way too.
  p But we recommend instead to use the #[+a('profiles') Built-in profiles], and remap the controls directly in the game if required (like you do with a normal keyboard and mouse), since it is much simpler! (there is no need for that additional layer of translation).
  hr

  +h3id('vibration') Does it vibrate?
  p Not yet, but we also want implement vibration in the future. The Xinput protocol supports vibration, but we still have to test different vibration motors.
  hr

  +h3id('triggers') Are the triggers analog?
  p No, this is a design choice, since digital triggers perform better on shooters and most games (that's why mouse buttons are still digital), and trigger's analog input is rarely used in anything else than racing games.
  p For racing games there is a built-in #[em Racing] profile which uses tilt to turn, and thumbstick(s) for gas/break.
  hr

  +h3id('buy') Can I buy a controller?
  p Not directly, but you can check where to buy components and DIY kits at #[+a('/alpakka/components') Alpakka components] page.
  hr

  +h3id('cost') How much would it cost to build my own controller?
  p If you source the components from Input Labs, a full #[+ax(org.shop) DIY kit] will cost between 150 and 200 euros.
  p If you source the components elsewhere, it will vary a lot, depending on how many controllers you want to build (e.g., there is usually an order minimum for PCBs), on different suppliers and manufacturers, etc. If you already have the required tools (3D printer, solder iron, etc...), and ignoring shipping costs of components, the cost per controller may come down to ~100 euros.
  p For the latest experiences, you could check the various #[+ax(org.discord) Discord channels] (e.g., #diy-support, #diy-share-parts).
  hr

  +h3id('angular') Why is the case so angular?
  p Contrary to what most people think, the Alpakka controller low-poly angular shape is not a limitation of 3D-printing, but a deliberate style that is there since the first post-it drawings.
  p Also, do not worry, we had plenty of positive feedback about it being very ergonomic. One of the tricks we used is to make it less angular in the bottom part, so it has a nice shape and a nice grip (without the need of textured surfaces).
  hr

  +h3id('naming') Why is it called Alpakka?
  p Because we like fluffy, highly-huggable animals, see #[+a('/about') About] page for more details.
