extends _manual.pug

block append title
  | Soldering issues

block content
  h2 Soldering issues
  hr

  h3 Overall soldering check
  p TODO
  hr

  h3 Controller does not power on
  p TODO
  hr

  h3 Some buttons do not work
  p TODO
  hr

  h3 Thumbstick do not work
  p TODO
  hr

  h3 One of the gyros do not work
  p TODO

