extends _manual.pug

block append title
  | Profile: Home

block content
  h2 Profile: Home
  hr

  p A special profile that is only active while holding the #[em Home #[+home]] button.
  p It gives access to special functions of the controller, such as: #[+a('profiles') changing the active profile], #[+a('tune') tuning options], alt-tabbing, keyboard function keys, and more.
  p Holding the #[em Home #[+home]] button for 5 seconds (without using any shortcut nor gyro) puts the controller to sleep.

  img.wide.mt(src='/static/manual/profile_home.svg')
  hr

  h3 Additional links
  ul
    li: +a('profiles') How to select the active profile
