extends _manual.pug

block append title
  | Tune options

block content
  h2 Tune options
  hr

  p Tune options controls how the controller works at a fundamental level, independently from the operative system. The tune options are applied to all profiles, and will be stored in the controller memory even if the controller is powered off.
  p The tune options are configurable by the user directly on the controller:
  ul
    li Hold the #[em Home #[+home]] button.
    li Hold the #[em Directional Hat #[+hat]] either up, down, left or right. Each direction tune a different option (see below).
    li Release the #[em Directional Hat #[+hat]], but keep holding the #[em Home #[+home]] button.
    li Notice how the LEDs are showing which #[em tune option is selected] (represented by a solid light) and its #[em current value] (represented by a blinking light).
    li Change the value up or down by using the #[em scroll wheel up or down].
    li Release the #[em Home #[+home]] button.

  table.manual.col6.hdiv
    tr
      th
      th.center
        div ← Tune down
        div (scroll down)
      th
      th
      th
      th.center
        div Tune up →
        div (scroll up)
    tr
      td.middle
        h3 Protocol mode
        div Hold Home #[+home]
        div + hold Hat up #[+hat]↑
      td.center
        img(src='/static/manual/led_tune_up_0.png' width='50px')
        div XInput Windows
        i (Default)
      td
      td.center
        img(src='/static/manual/led_tune_up_1.png' width='50px')
        div XInput Linux / MacOS
      td
      td.center
        img(src='/static/manual/led_tune_up_2.png' width='50px')
        div Generic / DirectInput
    tr
      td.middle
        h3 Thumbstick deadzone
        div Hold Home #[+home]
        div + hold Hat left #[+hat]←
      td.center
        img(src='/static/manual/led_tune_left_0.png' width='50px')
        div 5%
        i (Default)
      td
      td.center
        img(src='/static/manual/led_tune_left_1.png' width='50px')
        div 10%
      td
      td.center
        img(src='/static/manual/led_tune_left_2.png' width='50px')
        div 15%
    tr
      td.middle
        h3 Touch threshold
        div Hold Home #[+home]
        div + hold Hat right #[+hat]→
      td.center
        img(src='/static/manual/led_tune_right_0.png' width='50px')
        div 2 μs
      td.center
        img(src='/static/manual/led_tune_right_1.png' width='50px')
        div 3 μs
      td.center
        img(src='/static/manual/led_tune_right_2.png' width='50px')
        div 5 μs
        i (Default)
      td.center
        img(src='/static/manual/led_tune_right_3.png' width='50px')
        div 8 μs
      td.center
        img(src='/static/manual/led_tune_right_4.png' width='50px')
        div 13 μs
    tr
      td.middle
        h3 Mouse sensitivity
        div Hold Home #[+home]
        div + hold Hat down #[+hat]↓
      td.center
        img(src='/static/manual/led_tune_down_0.png' width='50px')
        div Low
        div 1080p
        i (Default)
      td
      td.center
        img(src='/static/manual/led_tune_down_1.png' width='50px')
        div Mid
        div 1440p
      td
      td.center
        img(src='/static/manual/led_tune_down_2.png' width='50px')
        div High
        div 4K

  hr
  h3 Protocol mode
  p Defines how the controller communicates with the computer operating system, XInput for either Windows or Linux are the most recommended, but in some cases the generic gamepad mode can also be useful (eg. Retro games and simulators).
  hr

  h3 Thumbstick deadzone
  p Defines how much of the inner movement of the thumbstick will be ignored, increase this according to your thumbstick wear (thumbstick centering spring will get softer over time). Please check #[+a('calibrate') Calibration] instructions before tweaking this parameter.
  hr

  h3 Touch threshold
  p Defines how sensitive the touch surface is. Depending on which conductive material was used on the touch surface you may want to tweak this parameter:
  ul
    li Lower the threshold if the detection is not registered consistently.
    li Raise the threshold if the detection is taking too long to be released after the finger is lifted.
  hr

  h3 Mouse sensitivity
  p Defines how sensitive the mouse emulation is, using recommended values for different display resolution with the default OS sensitivity. This is similar to changing the DPI on a traditional mouse. Check #[+a('setup') OS setup] and #[+a('mouse') Mouse] for more details.
