extends _manual.pug

block append title
  | Tune settings

block content
  h2 Tune settings
  hr

  p Tune settings define how the controller works at a fundamental level, independently from the operative system. these settings are applied to all profiles, and will be stored in the controller memory even if the controller is powered off.
  p Tune settings are configurable directly on the controller, or also in the Ctrl app.

  hr
  h3 In the Ctrl app

  ul
    li Settings tab in the header.

  img.wm.mr.mt(src='/static/manual/ctrl_app_settings.png')

  hr
  h3 Controller shortcuts

  ul
    li Hold the #[em Home #[+home]] button.
    li Hold the #[em Directional Hat #[+hat]] either up, down, left or right. Each direction tune a different option (see below).
    li Release the #[em Directional Hat #[+hat]], but keep holding the #[em Home #[+home]] button.
    li Notice how the LEDs are showing which #[em tune option is selected] (represented by a solid light) and its #[em current value] (represented by a blinking light).
    li Change the value up or down by using the #[em scroll wheel up or down].
    li Release the #[em Home #[+home]] button.

  table.manual.col6.hdiv
    tr
      th
      th.center
        div ← Tune down
        div (scroll down)
      th
      th.center
        div Tune up →
        div (scroll up)

    tr
      th.middle
        div Protocol mode
        div Hold Home #[+home]
        div + hold Hat up #[+hat]↑
      td.center
        img(src='/static/manual/led_tune_up_0.png' width='50px')
        div XInput Windows
        i (Default)
      td.center
        img(src='/static/manual/led_tune_up_1.png' width='50px')
        div XInput Linux / MacOS
      td.center
        img(src='/static/manual/led_tune_up_2.png' width='50px')
        div Generic / DirectInput

    tr
      th.middle
        div Thumbstick deadzone
        div Hold Home #[+home]
        div + hold Hat left #[+hat]←
      td.center
        img(src='/static/manual/led_tune_left_0.png' width='50px')
        div Low
        div 8%
        i (Default)
      td.center
        img(src='/static/manual/led_tune_left_1.png' width='50px')
        div Mid
        div 12%
      td.center
        img(src='/static/manual/led_tune_left_2.png' width='50px')
        div High
        div 20%

    tr
      th.middle
        div Touch sensitivity
        div Hold Home #[+home]
        div + hold Hat right #[+hat]→
      td.center
        img(src='/static/manual/led_tune_right_0.png' width='50px')
        div Low
        i (More stable)
      td.center
        img(src='/static/manual/led_tune_right_2.png' width='50px')
        div Mid
        i (Default)
      td.center
        img(src='/static/manual/led_tune_right_4.png' width='50px')
        div High
        i (More responsive)

    tr
      th.middle
        div Mouse sensitivity
        div Hold Home #[+home]
        div + hold Hat down #[+hat]↓
      td.center
        img(src='/static/manual/led_tune_down_0.png' width='50px')
        div Low
        div 1080p
        i (Default)
      td.center
        img(src='/static/manual/led_tune_down_1.png' width='50px')
        div Mid
        div 1440p
      td.center
        img(src='/static/manual/led_tune_down_2.png' width='50px')
        div High
        div 4K

  hr
  h3 Protocol mode
  p Defines how the controller communicates with the computer operating system, #[em XInput] for either #[em Windows] or #[em Linux] are the most recommended, but in some cases the #[em Generic] gamepad mode can also be useful (eg. Retro games and simulators).

  hr
  h3 Thumbstick deadzone
  p Defines how much of the inner movement of the thumbstick will be ignored, increase this according to your thumbstick wear (thumbstick centering spring will get softer over time). Please check #[+a('calibrate') Calibration] instructions before tweaking this parameter.

  hr
  h3 Touch sensitivity
  p Defines how sensitive the touch surface is. Depending on which conductive material was used on the touch surface you may want to tweak this parameter:
  ul
    li The default presets adjust the sensitivity automatically, and comes in 3 variants (low, mid, high).
    li 2 additional custom presets are available and allow to change the values manually in the #[+a('ctrl_app') Ctrl app], keep scrolling up to access them.
    li Set a higher sensitivity if the detection is not registered consistently and it has microcuts.
    li Set a lower sensitivity if the detection has false positives and triggers by itself.

  hr
  h3 Mouse sensitivity
  p Defines how sensitive the mouse emulation is, using recommended values for different display resolution with the default OS sensitivity. This is similar to changing the DPI on a traditional mouse. Check #[+a('setup') OS setup] and #[+a('mouse') Mouse] for more details.
