extends _db.pug

block append subtitle
  | Improve this list

block content
  h2 Help improving this list
  hr

  h3 Contribute
  p You can make additions to this database by doing pull requests into Input Labs' #[+ax('https://github.com/inputlabs/website') Website Repo], or even make simple corrections with GitHub's web editor.

  h3 Focused on accessibility
  p This database is not supposed to be a replacement for the awesome #[+ax('https://www.pcgamingwiki.com') PC Gaming Wiki], but to compile and display accessibility info in a more streamlined way.

  h3 Vote which games we review next
  p Become a member in #[+a('TODO') Patreon] and propose which batch of games are reviewed next, or which other accessibility options should be reviewed.
