extends ../_template.pug

block title
  | Alpakka components

block page
  include ../_selector.pug

  div.boxes.grid

    div.box
      h2 Complete DIY kits
      p To make more obvious which parts are required to build a complete DIY Alpakka controller, we introduced the concept of #[em Complete kits] into the shop.
      p These work as a guided configurator in which you select a few options, and the relevant parts are added to the shopping cart.
      table.data
        tr
          td DIY kit configurator
          td: +ax('https://inputlabs.squarespace.com/diy/p/alpakka-diy-kit-v1') Input Labs shop

    div.box
      h2 Firmware
      p The open source firmware for the controller, for the Raspberry Pi Pico.
      p Compiled builds with the latest version are also available.
      table.data
        tr
          td Firmware source code
          td: +ax('https://github.com/inputlabs/alpakka_firmware') GitHub
        tr
          td Firmware latest releases
          td: +ax('https://github.com/inputlabs/alpakka_firmware/releases') GitHub

    div.box
      h2 Printed Circuit Board
      p The main board where all the buttons, gyro, thumbstick, LEDs and most other electronics are mounted.
      p Read the documentation about #[+a('/alpakka/manual/diy_pcb') making an order] from PCB manufacturer companies, or get it directly from us.
      table.data
        tr
          td PCB KiCad schematics
          td: +ax('https://github.com/inputlabs/alpakka_pcb') GitHub
        tr
          td PCB ready-to-order files
          td: +ax('https://github.com/inputlabs/alpakka_pcb/releases') GitHub
        tr
          td Alpakka PCB pre-built
          td: +ax('https://inputlabs.squarespace.com/diy/p/alpakka-pcb-v1') Input Labs shop
        tr
          td Marmota core module pre-built
          td: +ax('https://inputlabs.squarespace.com/diy/p/marmota-module') Input Labs shop


    div.box
      h2 Electronics
      p Large components usually not soldered by the PCB manufacturer, so you may want to solder (or replace) them yourself. See #[+a('/alpakka/manual/diy_solder') solder] manual page.
      table.data
        tr
          td All-included electronics set
          td: +ax('https://inputlabs.squarespace.com/diy/p/alpakka-electronics-set-v1') Input Labs shop
        tr
          td Thumbsticks (2x)
          td: +ax('https://www.lcsc.com/product-detail/Variable-Resistors-Potentiometers_ALPSALPINE-RKJXV122400R_C918854.html') LCSC shop
        tr
          td Rotary encoder (1x)
          td: +ax('https://www.lcsc.com/product-detail/Rotary-Encoders_ALPSALPINE-EC10E1220503_C110291.html') LCSC shop
        tr
          td Forward buttons / shoulders (2x)
          td: +ax('https://www.lcsc.com/product-detail/Tactile-Switches_ALPSALPINE-SKHHLNA010_C125031.html') LCSC shop
        tr
          td Trigger buttons (4x)
          td: +ax('https://www.lcsc.com/product-detail/Tactile-Switches_ALPSALPINE-SKQGAFE010_C202424.html') LCSC shop
        tr
          td Battery connector (1x)
          td: +ax('https://www.lcsc.com/product-detail/Wire-To-Board-Connector_XUNPU-WAFER-PH2-0-2PWZ_C5359610.html') LCSC shop

    div.box
      h2 Case and buttons
      p The front and back part of the case, buttons, triggers, and everything else making the exterior of the controller.
      table.data
        tr
          td 3D models sources
          td: +ax('https://github.com/inputlabs/alpakka_case') GitHub
        tr
          td 3D models STL files for 3D printing
          td: +ax('https://github.com/inputlabs/alpakka_case/releases') GitHub
        tr
          td Front case pre-built
          td: +ax('https://inputlabs.squarespace.com/diy/p/alpakka-front-case-v1') Input Labs shop
        tr
          td Back case pre-built
          td: +ax('https://inputlabs.squarespace.com/diy/p/alpakka-back-case-v1') Input Labs shop
        tr
          td Buttons set pre-built
          td: +ax('https://inputlabs.squarespace.com/diy/p/alpakka-buttons-set-v1') Input Labs shop
        tr
          td Touch sensitive hexagon pre-built
          td: +ax('https://inputlabs.squarespace.com/diy/p/alpakka-touch-hexagon-v1') Input Labs shop
        tr
          td Touch-sensing PLA filament
          td: +ax('https://www.proto-pasta.com/collections/conductive/products/conductive-pla') Protopasta shop
      table.data

    div.box
      h2 Additional components
      p Optional parts to make a wireless controller, or to use developer tools.
      table.data
        tr
          td Battery (1200 mAh)
          td: +ax('https://inputlabs.squarespace.com/diy/p/battery-1200-mah') Input Labs shop
        tr
          td Wireless dongle kit
          td: +ax('https://inputlabs.squarespace.com/diy/p/wireless-dongle-kit') Input Labs shop
        tr
          td USB to TTL serial cable (developer)
          td: +ax('https://www.adafruit.com/product/954') Adafruit shop

    div.box
      h2 Bolts and nuts
      p M2.5 bolts and nuts to hold the case together, and as pivot points for the triggers.
      table.data
        tr
          td All-included Bolts set
          td: +ax('https://inputlabs.squarespace.com/everyone/p/alpakka-bolts-kit') Input Labs shop
        tr
          td M2.5 DIN-912 Hex-socket 12 mm (2x)
          td: +ax('https://www.mcmaster.com/92290A062/') Reference
        tr
          td M2.5 DIN-912 Hex-socket 25 mm (6x)
          td: +ax('https://www.mcmaster.com/92290A753/') Reference
        tr
          td M2.5 DIN-934 Hex nut (8x)
          td: +ax('https://www.mcmaster.com/91828A113/') Reference

    div.box
      h2 About sourcing from Input Labs
      p By getting some of the components and materials directly from #[+ax('https://inputlabs.squarespace.com') Input Labs Distribution] shop, you help us to continue doing the research we do, and to keep releasing awesome open-source and accessible controllers for everybody.
