extends ../_template.pug

block title
  | Alpakka components

block page
  include _title.pug

  div.boxes.grid
    div.box
      h2 Firmware
      p The open source firmware for the controller, for the Raspberry Pi Pico.
      p Compiled builds with the latest version are also available.
      table.data
        tr
          td Alpakka firmware source code
          td: +ax('https://github.com/inputlabs/alpakka_firmware') GitHub
        tr
          td Alpakka firmware latest builds
          td: +ax('https://github.com/inputlabs/alpakka_firmware/releases') GitHub

    div.box
      h2 Printed Circuit Board
      p The main board where all the buttons, gyro, thumbstick, LEDs and most other electronics are.
      p Read the documentation about #[+a('/alpakka/manual/diy_pcb') making an order] from PCB manufacturer companies, or get it directly from us.
      table.data
        tr
          td Alpakka PCB KiCad schematics
          td: +ax('https://github.com/inputlabs/alpakka_pcb') GitHub
        tr
          td Alpakka PCB ready-to-order files
          td: +ax('https://github.com/inputlabs/alpakka_pcb/releases/latest') GitHub
        tr
          td Alpakka PCB (Partially soldered)
          td: +ax('https://inputlabs.squarespace.com/everyone/p/alpakka-pcb') Input Labs shop
        tr
          td Alpakka PCB (Fully soldered)
          td: +ax('https://inputlabs.squarespace.com/everyone/p/alpakka-pcb-soldered') Input Labs shop

    div.box
      h2 Case and buttons
      p The front and back part of the case, buttons, triggers, and everything else.
      table.data
        tr
          td Blender project with source 3D models
          td: +ax('https://github.com/inputlabs/alpakka_case') GitHub
        tr
          td STL and M3F files for 3D printing
          td: +ax('https://github.com/inputlabs/alpakka_case/releases/latest') GitHub
        tr
          td Front case
          td: +ax('https://inputlabs.squarespace.com/everyone/p/alpakka-front-case') Input Labs shop
        tr
          td Back case
          td: +ax('https://inputlabs.squarespace.com/everyone/p/alpakka-back-case') Input Labs shop
        tr
          td Buttons set
          td: +ax('https://inputlabs.squarespace.com/everyone/p/alpakka-buttons-set') Input Labs shop
        tr
          td Conductive hexagon
          td: +ax('https://inputlabs.squarespace.com/everyone/p/alpakka-conductive-hexagon') Input Labs shop
      table.data

    div.box
      h2 3D printer filament
      p Selected premium filaments from different manufacturers, that we tried and recommend.
      p Polylactic acid (PLA) is a biodegradable material usually made from corn waste, popular for 3D printing due to its low melting temperature and strength.
      table.data
        tr
          td Prusament PLA (in many colors)
          td: +ax('https://www.prusa3d.com/category/prusament-pla') Prusa shop
        tr
          td Protopasta PLA Conductive
          td: +ax('https://www.proto-pasta.com/collections/conductive/products/conductive-pla') Protopasta shop

    div.box
      h2 Electronics
      p This includes the micro-controller, as well as through-hole components. Those are usually not soldered by the PCB manufacturer, so you may want to solder them yourself, and later you may even want to to replace worn components. See #[+a('manual/specs') specs].
      table.data
        tr
          td Raspberry Pi Pico
          td: +ax('https://mou.sr/3xHPuDS') Mouser shop
        tr
          td Thumbstick (1x)
          td: +ax('https://www.lcsc.com/product-detail/Variable-Resistors-Potentiometers_ALPSALPINE-RKJXV122400R_C918854.html') LCSC shop
        tr
          td Directional hat (1x)
          td: +ax('https://www.lcsc.com/product-detail/Multi-Directional-Switches_ALPSALPINE-RKJXM1015004_C97432.html') LCSC shop
        tr
          td Rotary encoder (1x)
          td: +ax('https://www.lcsc.com/product-detail/Rotary-Encoders_ALPSALPINE-EC10E1220503_C110291.html') LCSC shop
        tr
          td Forward buttons / shoulders (2x)
          td: +ax('https://www.lcsc.com/product-detail/Tactile-Switches_ALPSALPINE-SKHHLNA010_C125031.html') LCSC shop
        tr
          td Trigger buttons (4x)
          td: +ax('https://www.lcsc.com/product-detail/Tactile-Switches_ALPSALPINE-SKQGAFE010_C202424.html') LCSC shop
        tr
          td Electronics set (all included)
          td: +ax('https://inputlabs.squarespace.com/everyone/p/alpakka-electronics-set') Input Labs shop

    div.box
      h2 Bolts and nuts
      p M2.5 bolts and nuts to hold the case together, and as pivot points for the triggers.
      table.data
        tr
          td M2.5 DIN-912 Hex-socket 12 mm (2x)
          td: +ax('https://www.mcmaster.com/92290A062/') Reference
        tr
          td M2.5 DIN-912 Hex-socket 25 mm (6x)
          td: +ax('https://www.mcmaster.com/92290A753/') Reference
        tr
          td M2.5 DIN-934 Hex nut (8x)
          td: +ax('https://www.mcmaster.com/91828A113/') Reference
        tr
          td Alpakka bolts set (all included)
          td: +ax('https://inputlabs.squarespace.com/everyone/p/alpakka-bolts-kit') Input Labs shop

    div.box
      h2 Developer kit
      p Basic tools required for hacking the Alpakka. For more details check Alpakka's #[+a('manual/dev') Developer] manual.
      p: i Links for reference, components with the same specs from other shops will also work.
      table.data
        tr
          td USB to TTL serial cable
          td: +ax('https://www.adafruit.com/product/954') Adafruit shop
        tr
          td JST PH 4-pin cable
          td: +ax('https://www.adafruit.com/product/3955') Adafruit shop

    div.box
      h2 About sourcing from Input Labs
      p By getting some of the components and materials directly from #[+ax('https://inputlabs.squarespace.com') Input Labs Distribution], you help us to continue doing the research we do, and to keep releasing awesome open-source and accessible controllers for everybody.
      p Also, it increases your charisma by 10 points.
