extends ../_template.pug

block title
  | Alpakka images and videos

block page
  include ../_device_selector.pug

  mixin boximg(src)
    div.box.image
      a.img(href=src target='_blank')
        img(src=src)

  div.boxes.grid
      +boximg('/static/gallery/alpakka_v1_color_silver.jpg')
      +boximg('/static/gallery/alpakka_v1_top.jpg')
      +boximg('/static/gallery/alpakka_v1_back.jpg')

      +boximg('/static/gallery/alpakka_v1_front.jpg')
      +boximg('/static/img/alpakka_brief.jpg')
      +boximg('/static/gallery/alpakka_v1_detail.jpg')

      +boximg('/static/gallery/alpakka_v1_color_purple.jpg')
      +boximg('/static/gallery/alpakka_v1_color_blue.jpg')
      +boximg('/static/gallery/alpakka_v1_color_teal.jpg')
      +boximg('/static/gallery/alpakka_v1_color_green.jpg')
      +boximg('/static/gallery/alpakka_v1_color_gold.jpg')
      +boximg('/static/gallery/alpakka_v1_color_orange.jpg')
      +boximg('/static/gallery/alpakka_v1_color_red.jpg')
      +boximg('/static/gallery/alpakka_v1_color_pink.jpg')
      //- +boximg('/static/gallery/alpakka_v1_rainbow.jpg')

      +boximglink('/static/img/youtube.jpg', org.youtube, 'Gameplay and DIY videos', true)
      +boximglink(
        '/static/community/community_holo.jpg',
        '/contribute/gallery_community',
        'Wild Alpakkas from the community'
      )
