extends ../_template.pug

block title
  | Alpakka images and videos

block page
  include _title.pug

  mixin boximg(src)
    div.box.image
      a.img(href=src target='_blank')
        img(src=src)

  div.boxes.grid
      +boximg('/static/img/alpakka_black_silver_stand.jpg')
      +boximg('/static/img/alpakka_black_silver_top.jpg')
      +boximg('/static/img/alpakka_black_silver_back.jpg')
      +boximg('/static/img/alpakka_black_silver_bottom.jpg')
      +boximglink(
        '/static/img/youtube.jpg',
        org.youtube,
        'Gameplay and DIY videos',
        true
      )
      +boximg('/static/img/alpakka_brief.jpg')
      +boximg('/static/img/alpakka_black_purple_stand.jpg')
      +boximg('/static/img/alpakka_black_blue_stand.jpg')
      +boximg('/static/img/alpakka_black_teal_stand.jpg')
      +boximg('/static/img/alpakka_black_lime_stand.jpg')
      +boximg('/static/img/alpakka_black_yellow_stand.jpg')
      +boximg('/static/img/alpakka_black_orange_stand.jpg')
      +boximg('/static/img/alpakka_black_red_stand.jpg')
      +boximg('/static/img/alpakka_black_pink_stand.jpg')
      +boximg('/static/img/alpakka_rainbow.jpg')
      +boximg('/static/img/alpakka_black_silver_info.jpg')
      +boximglink(
        '/static/community/community_lime_pair.jpg',
        '/contribute/gallery_community',
        'Wild Alpakkas from the community'
      )
