extends _template.pug

block title
  | punoɟ ʇou ǝƃɐԀ

block page
  h1 Nope found
  div.boxes.grid.center
    div.box.rotating
      h2 La página no es bueno
      p You glitched outbounds.
      p And now you are falling forever under the map.
      p And the anti-cheat kicked you because...
      p: em This page does not exist
      p.easter: b Call your mom and tell you love her
