div.warning.boxes
  if SECTION_2 == 'manual'
    div: span THE MANUAL IS NOT YET UPDATED TO REFERENCE DESIGN v1.0
  else if SECTION_2 == 'components'
    div: span THE COMPONENTS PAGE IS NOT YET UPDATED TO REFERENCE DESIGN v1.0
  else
    div: span THIS PAGE IS NOT YET UPDATED TO REFERENCE DESIGN v1.0

