extends _template.pug

block title
  | More about Input Labs

block page
  h1 More about Input Labs

  div.boxes.grid
    div.box
      h2 Who are we?
      p Input Labs Oy. (OsakeYhtiö) is a small company established in Finland, Europe.
      p Founded in 2022 by 2 friends, both engineers and gamers: Marcos (born in Spain) and Michael (born in Germany). Later several friends joined as testers, idea givers and contributors. And now we are waiting for you.
      p You can talk with us on #[+ax(org.discord) Discord] anytime.

    div.box
      h2 Our principles and goals
      p We embrace #[em open source], backward compatibility, right to repair, and privacy. We are disgusted by FOMO, predatory sales, and people imposing their preferences.
      p We are #[em not a startup], our goal is not to grow artificially, but to create a stable environment for research and development.
      p We #[em welcome and support] everyone in our community, we do not leave anyone behind.

    div.box
      h2 Get in contact
      p If you want to collaborate with us, check the #[+a('/contribute') Contribute] section.
      p For journalism or videogame media topics, check the #[+a('/press') Press] section.
      p For other generic inquiries, send us a message to #[span.lima #[span.lima1]] #[i (Cannot be copied)]

    div.box
      h2 Do you sell controllers?
      p Short answer: No.
      p Long answer: We are selling selected #[em components] and #[em DIY kits], and try to make as easy as possible for people to build their own DIY controllers, adapted to their needs.
      p: i "We give you the recipe, but you cook the pizza".
      p The Alpakka #[+a('alpakka/components') components] page outlines which components are required to build a controller and from where to source them.

    div.box
      h2 What does the logo mean?
      p The logo is a sinusoidal wave representing an analog signal, being captured by code brackets (digital), in the shape of an hexagon, because hexagons are the #[a.egg(target='_blank' href='https://www.youtube.com/watch?v=thOifuHs6eY') bestagons].
      p: del I'm not high, I promise.
      p When you think blue, green, or red, you associate these with some specific videogame brands, right? We don't settle with a single color, because #[em.wrap our favorite color is your favorite color].

    //- div.box
    //-   h2 Patents
    //-   p We explained about #[em Input Labs approach to patents] in a blog post: #[+a('/blog/patents') Patents, a necessary evil].
    //-   p Patents granted:

    div.box
      h2 On the shoulders of giants
      p Input Labs wouldn't be possible without other open source projects, our love and gratitude goes to these legends:
      ul
        li #[+ax('https://www.kicad.org') KiCad]: An incredible tool for PCB design.
        li #[+ax('https://www.blender.org') Blender]: The acclaimed 3D app we're abusing as CAD.
        li #[+ax('https://build123d.readthedocs.io') Build123d]: CAD with Python code.
        li #[+ax('https://github.com/hathach/tinyusb') TinyUSB]: A simple library for USB communication.
        li #[+ax('https://www.raspberrypi.com') Raspberry]: You may have heard about these guys.
        li #[+ax('https://github.com/pugjs/pug') Pug]: The HTML template library this web is made with.
        li #[+ax('https://plausible.io') Plausible]: Privacy-friendly web analytics.

    div.box
      h2 Why these funny animal names?
      p We named our 2 first devices Alpakka and Kapybara, these are actually spelt correctly in finnish language. That's our little tribute to Finland, a country that took us as their own fellows.
      p We also find funny when gaming companies call their products with 90's style rad animal names, such as the #[i "Cobra"], #[i "Black Puma"], or #[i "Death Hornet"] #[i (not actual names)].
      p Instead we go for the most huggable, weird, and cute animals. Please give us ideas for the next ones!


    div.box
      h2 Privacy
      p This website do not use cookies, do not store any personal information, and #[em respect your privacy]. We do not care who you are! and that's a good thing.
      p For aggregated usage stats we use #[+ax('https://plausible.io') Plausible], an open-source web analytics tool which is 100% anonymous, do not track you across different websites nor devices, and is hosted in the European Union (covered by strict privacy laws).
      p For details, read the full #[+a('/policies/privacy') Privacy policy].
