extends ./_template.pug

block title
  | Alpakka controller

block page
  include alpakka/_title.pug

  div.boxes.grid
    div.box
      h2 Our flagship design
      p The Alpakka controller is Input Labs' main reference design, a re-interpretation of the standard gamepad that everyone is familiar with, but with #[em advanced gyro controls], mouse-like competitive performance, and the power of an open source community bringing #[em limitless accessibility] and customization options.
      p Having the performance of a mouse combined with the convenience of a gamepad, you won't have to make any compromise anymore.

    div.box
      h2 Nextgen gyro
      p Engineered for gyro with no compromises, every aspect of the controller is tuned for having #[em pixel-perfect accuracy], ultra low latency, and no acceleration nor smoothing.
      p With #[em 2 gyro sensors] working in parallel, and the hexagonal touch-sensitive surface surrounding the ABXY buttons, we finally cracked the code for gyro as primary input.
      p Gyro controls are not an afterthought anymore, they are the new default. And since a secondary thumbstick would be redundant, instead it features a scrollwheel and a 8-directional "physical selection wheel".

    div.box.image
      a.img(href='alpakka/gallery')
        img(src='/static/img/alpakka_black_silver_stand.jpg')
        div More images and videos ->

    div.box
      h2 No bloat software
      p: i "Gaming peripherals and bloatware apps, name a more iconic duo"
      p No drivers, no overlays, no bloat. The Alpakka firmware emulates as a standard keyboard, mouse, and Xinput gamepad at hardware level; so it just works out of the box in Windows and Linux, and every game launcher.
      p Instead of having per-game configurations, the firmware includes #[+a('alpakka/manual/profiles') per-genre profiles], which are also editable in an optional configuration app: #[+a('alpakka/manual/ctrl_app') Ctrl app] (Work in progress).


    div.box.image.colored(style='border-radius:10px')
      a.img(href='/static/img/alpakka_brief.jpg')
        img(src='/static/img/alpakka_brief.png')

    div.box
      h2 Assemble it your way
      p Pick your favorite components and materials, and put together your dream controller. Its modular design makes it #[em easy to assemble] and to modify every aspect.
      p Build the reference design, use community mods, or modify it yourself.
      //- p The Alpakka reference hardware needs a PCB (board), the front and back cases, buttons, triggers, and the touch sensitive hexagon.
      p At the moment the only way to get an Alpakka is to build it yourself with a 3D printer, to #[+a('/press') Request a Review Unit] for free, or to #[+a('/contribute') Become a Tester]
      p See the list of #[+a('alpakka/components') Components] and materials.

    div.box
      mixin done(state)
        span(style='font-family:monospace') [#{state ? '✔' : ' '}]
      h2 Overview of development
      p See #[+ax(org.roadmap) Roadmap] for more details.
      ul.nobullet
        li #[+done(1)] Concept.
        li #[+done(1)] Breadboard prototypes.
        li #[+done(1)] Firmware.
        li #[+done(1)] Printed Circuit Board.
        li #[+done(1)] 3D-printed prototypes.
        li #[+done(1)] Closed alpha testing (5 testers).
        li #[+done(1)] Reference designs.
        li #[+done(0)] More built-in profiles / Edit profiles.
        li #[+done(0)] Wireless.
        li #[+done(0)] Vibration.

    div.box
      h2 Use-cases
      p The Alpakka controller could be for you if:
      ul
        li You want to play FPS games on the sofa.
        li You want to play mouse-cursor games (eg RTS or city builders) on the sofa.
        li It is difficult for you to use a keyboard.
        li It is difficult for you to use a thumbstick for aiming.
        li You have special needs that require controller modifications.
        li You are interested in a more natural way to aim (actually aiming at things / similar to VR) than traditional input methods.

    div.box
      h2 Read the manual
      p Check the #[+a(redirect.alpakkaManual) Manual] for things like:
      ul.spaced
        li #[+a('alpakka/manual/mouse') How to use the gyro]
        li #[+a('alpakka/manual/profiles') How to use the profiles]
        li #[+a('alpakka/manual/diy_pcb') How to build a controller]
        li #[+a('alpakka/manual/specs') Reference design specs]
        li #[+a('alpakka/manual/faq') Frequently Asked Questions]
      p And much more.
