extends ./_template.pug

block title
  | Alpakka controller

block page
  include _device_selector.pug

  div.boxes.grid
    div.box
      h2 Our flagship design
      p The Alpakka controller is Input Labs' main reference design, a #[em re-interpretation] of the classic gamepad.
      p Features #[em advanced gyro controls] with the performance of a mouse and the convenience of a controller.
      p An awesome community bringing endless accessibility and customization via mods.
      p The #[em 1.0 update] now features USB-C, wireless, and a second thumbstick. Check the #[+ax(org.roadmap) Roadmap] to see what comes next.

    div.box
      h2 Nextgen gyro
      p Engineered for gyro with no compromises, every aspect of the controller is tuned for having #[em pixel-perfect accuracy], ultra low latency, and no acceleration nor smoothing.
      p With #[em 2 gyro sensors] working in parallel, and the hexagonal touch-sensitive surface surrounding the ABXY buttons, we finally cracked the code for gyro as primary input.
      p Gyro controls are not an afterthought anymore, they are the new default.

    div.box.image
      a.img(href='alpakka/gallery')
        img(src='/static/img/alpakka_black_silver_stand.jpg')
        div More images and videos ->

    div.box
      h2 No bloat software
      p: i "Gaming peripherals and bloatware apps, name a more iconic duo"
      p No drivers, no overlays, no bloat. The Alpakka firmware emulates as a keyboard, mouse, and Xinput gamepad #[em at hardware level], so it works out of the box in Windows and Linux, and every game launcher.
      p Instead of having per-game configurations, the firmware includes #[+a('alpakka/manual/profiles') per-genre profiles], which are also editable in an #[em optional] configuration app: #[+a('alpakka/manual/ctrl_app') Ctrl app].


    div.box.image.colored(style='border-radius:10px')
      a.img(href='/static/img/alpakka_brief.jpg')
        img(src='/static/img/alpakka_brief.png')

    div.box
      h2 Assemble it your way
      p Pick your favorite components and materials, and put together your dream controller. Its modular design makes it #[em easy to assemble] and to modify every aspect.
      p Build the reference design, use community mods, or modify it yourself.
      p Check the list of #[+a('alpakka/components') Components] to see all the required parts and materials, and get them either from 3rd-party suppliers or directly from the #[+ax('https://inputlabs.squarespace.com') Input Labs Distribution] shop.

    div.box
      h2 Competitive performance
      p Ultra #[em low latency], no smoothing, and no acceleration, in a carefully tuned firmware with #[em 250 Hz] polling rate (up to #[em 1000 hz] via mods).
      p Optional #[em wireless] solution with custom 2.4 GHz dongle and also minimal latency.
      p Become a pioneer of the first controller that can battle along (or against) mouse players with no disadvantage and #[em no aim-assist].

    div.box
      h2 Use-cases
      p The Alpakka controller could be for you if:
      ul
        li You want to play FPS games or other mouse-focused games #[em on the sofa].
        li It is difficult for you to use a keyboard.
        li It is difficult for you to use a thumbstick for aiming.
        li You have #[em special needs] that require controller modifications.
        li You want a more natural way to aim (actually aiming at things / similar to VR) than traditional input methods.

    div.box
      h2 Read the manual
      p Check the #[+a(redirect.alpakkaManual) Manual] for things like:
      ul.spaced
        li #[+a('alpakka/manual/mouse') How to use the gyro]
        li #[+a('alpakka/manual/profiles') How to use the profiles]
        li #[+a('alpakka/manual/diy_pcb') How to build a controller]
        li #[+a('alpakka/manual/specs') Reference design specs]
        li #[+a('alpakka/manual/faq') Frequently Asked Questions]
      p And much more.
