extends _template.pug

block title
  | Contribute to Input Labs

block page
  h1 Together we are strong

  div.boxes.grid
    div.box
      h2 Feedback
      p Input Labs is a #[em community-driven] effort, so you make us all better by simply using our stuff, and sharing your feedback and ideas with the other members.
      p Join our #[+ax(org.discord) Discord] for some casual talk.
      p Check #[+ax(org.forum) GitHub Discussions] for more organized forum-like posts and support.

    div.box
      h2 Open source
      p #[em Explore, modify, and re-share!] This is all about our open source projects, so feel free to play with them, propose features, report bugs, and submit pull requests with improvements.
      p Browse our #[+ax(org.repos) GitHub Repositories] for the source code and hardware designs.

    div.box
      h2 Patreon
      p Input Labs is possible thanks to the combined effort and #[em thousands of hours of work] made by passionate engineers, designers, testers, and contributors.
      p Please consider supporting Input Labs research by becoming a member in Patreon, so we can keep doing what we love to do.
      p Our next goal is to acquire laboratory materials and tools, such as different models of 3D printers, oscilloscope, thermal camera, ultra-high framerate monitors, and other hardware and software.
      p Check #[+ax(org.patreon) Patreon] for details about tier rewards and more.

    div.box
      h2 Patron benefits
      ul 
        li #[em Private channel and voting]: Input Labs patrons can use the #[+ax(org.discord) Discord] channel to suggest games for the next video demo and the accessibility DB, as well as research topics for the blog. About once a month we will then enable voting for entries in those lists.
        li #[em Display your name]: After becoming a patron (tier 2+) your name (up to 16 lower-case characters of the English alphabet) will be included in an easter-egg and become part of the next firmware release. (Within three working days your name will be added to a separate branch in our github repository and go through part of the normal CI/CD process)
        li #[em Mini Alpakka keyring] (tier 3+): as a special token of our appreciation you will receive a mini Alpakka keyring.

    div.box.image
      a.img(href='/alpakka')
        img(src='/static/img/le-petit-alpakka.jpg')
        div Le petit Alpakka for our patrons

    div.box
      h2 Become a tester
      p If you are the kind of person that likes to try new things, and/or if you are a person with disabilities, we would be very interested in your feedback about latest prototypes.
      p Please fill #[+ax('https://forms.gle/UvtxVBZe1sKrcRPD7') this form] or ping us in the #[+ax(org.discord) Discord] #[em #testing] channel.
