extends _template.pug

block title
  | Contribute to Input Labs

block page
  h1 Together we are strong

  div.boxes.grid
    div.box
      h2 Feedback
      p Input Labs is a #[em community-driven] effort, so you make us all better by simply using our stuff, and sharing your feedback and ideas with the other members.
      p Join our #[+ax(org.discord) Discord] for some casual talk.
      p Check #[+ax(org.forum) GitHub Discussions] for more organized forum-like posts and support.

    div.box
      h2 Open source
      p #[em Explore, modify, and re-share!] This is all about our open source projects, so feel free to play with them, propose features, report bugs, and submit pull requests with improvements.
      p Browse our #[+ax('https://github.com/inputlabs') GitHub Repositories] for the source code and hardware designs.

    div.box
      h2 Patreon
      p Input Labs is possible thanks to the combined effort and #[em thousands of hours of work] made by passionate engineers, designers, testers, and contributors.
      p Please consider supporting Input Labs research by becoming a member in Patreon, so we can keep doing what we love to do.
      p Our next goal is to acquire laboratory materials and tools, such as different models of 3D printers, oscilloscope, thermal camera, ultra-high framerate monitors, and other hardware and software.
      p Check #[+ax('TODO') Patreon] for details about tier rewards and more.

    div.box
      h2 Become a tester
      p If you are the kind of person that likes to try new things, and/or if you are a person with disabilities, we would be very interested in your feedback about latest prototypes.
      p Please ping us in #[+ax(org.discord) Discord] #[em #testing] channel.
