extends _template.pug

block title
  | Reference designs

block page
  h1 Reference designs

  div.boxes.grid.center
    div.box.image
      a.img(href='/alpakka')
        img(src='/static/img/alpakka_black_silver_stand.jpg')
        div Alpakka: Nextgen gyro

    div.box.image
      a.img(href='/kapybara')
        img(src='/static/img/kapybara.png')
        div Kapybara: One-hand OP
