extends _template.pug

block title
  | Democratizing videogame controllers

block page
  h1 Democratizing videogame controllers

  div.boxes.grid
    div.box
      h2 Open source
      p Input Labs does public research on videogame controllers, and make open source (software) and Creative Commons (hardware) designs available for everyone.
      p Use the #[+a('/alpakka') Reference Designs] to build your own controller, or modify them for your special needs, preferences, or competitive requirements.

    div.box.image.colored.blend
      a.img(href='/alpakka')
        img(src='/static/img/index.jpg' width='100%')

    div.box
      h2 Do-It-Yourself, but don't do it alone
      p Be part of an open community to get support, to help us on future developments, or simply to share your creations.
      p Check our Discord, forums, and more ways to help or be helped in the #[+a('/contribute') Contribute] section.

    div.box
      h2 Accessibility meets performance
      p No size fits all, that's why our main approach to accessibility is to make the software and hardware open, that way people can #[em modify the controllers] their way, while we help as much as possible with resources, tools, and support.
      p Our reference designs cover both some disability use cases, and some convenience use cases. And serve as a baseline for players modifying the designs in either direction.
      p We do not make compromises, we make top-performing competitive-level controllers for everybody.

    div.box
      h2 Right to repair
      p Something broke? worry not, just replace the faulty part with a new one.
      p We design hardware for #[em easy DIY] (Do-It-Yourself) and for you to exercise your Right-to-Repair anytime.
      p Everything is open, everything is as simple as it can be, just take a soldering iron and you are ready to go.

    div.box
      h2 We are actual gamers
      p Thousands of hours playing video games, that's our secret sauce for creating awesome controllers. Popular games or niche games, we play both.
      p Our devices are not designed by committee, nor the result of market studies to maximize profitability.
      p We stand behind our work, and use our own controllers everyday. #[em We are passionate about them], and we hope to share that passion with you.

    div.box
      h2 More about Input Labs
      p If you want to know more boring details about Input Labs, check our #[+a('/about') About] page.
