extends _template.pug

block title
  | Kapybara controller

block page
  include _selector.pug

  div.boxes.grid
    div.box
      h2 Slaying single-handedly
      p The Kapybara controller is Input Labs' second reference design, to be used with a #[em single hand], and more focused in accessibility use-cases, yet it still have the same #[em advanced gyro] controls than the Alpakka, and plenty of buttons to play any game.
      p Use it as a #[em standalone controller], and play any game single-handed without limitations.
      p Or use as a replacement for #[em WASD] (keyboard) while also using a mouse.

    div.box.image
      img(src='/static/img/kapybara_2.png')

    div.box
      h2 Development overview
      p During #[em 2025] we iterated over the external case and button arrangement, and we distributed mockups to a small group of testers. The feedback was unanimously positive.
      p By using the #[+a('marmota') Marmota] module we have minimum requirements covered (USB-C, battery charging, wireless).
      p In the next phase during #[em 2026] we will start working in the main board + electronics, and mechanical integration with the case.

    div.box.image
      img(src='/static/img/kapybara_mockups.png')

    div.box
      h2 Use-cases
      p The Kapybara controller could be for you if:
      ul
        li It is difficult for you to use controllers designed for two hands.
        li You still want to use a mouse, but is difficult for you to use a #[em keyboard].
        li You still want to use a mouse, but your prefer an analog #[em thumbstick] over WASD keys.
