extends _template.pug

block title
  | Resources for journalism

block page
  h1 Resources for journalism

  div.boxes.grid.center
    div.box
      h2 Press kit
      p Download a package with images and other media, for use in articles reporting about us.
      p Download #[+a('TODO') press_kit.zip]

    div.box
      h2 Get free hardware for review
      p If you run a Youtube channel, website, or similar; and you want to review our devices, we will be very happy to send you some.
      p Contact us at #[span.lima #[span.lima2]] #[i (Cannot be copied)]
