extends ../_template.pug

block title
  block subtitle
    | Legal
    |

block page
  h1 Legal

  div.boxes.wiki
    div
      div.box.index
        h2 Legal
        +wikilink('privacy') Privacy policy

    div.box.entry
      block content
