extends ../_template.pug

block title
  block subtitle
    | Blog -
    |

block page
  h1 News and research

  div.boxes.wiki
    div
      div.box.index
        h2 Blog

        h3 News
        div
          +wikilink('report_7') Progress report 7
          +wikilink('report_6') Progress report 6
          +wikilink('report_5') Progress report 5
          +wikilink('report_4') Progress report 4
          +wikilink('report_3') Progress report 3
          +wikilink('report_2') Progress report 2
          +wikilink('report_1') Progress report 1
          +wikilink('live') We are live

        h3 Research
        div
          +wikilink('dual_gyro') Dual gyro
          +wikilink('finger_sensing') Finger sensing
          div.inactive Early prototypes retrosp. #[i (Soon)]
          div.inactive Early testers retrospective #[i (Soon)]
          div.inactive Gyro implementation details #[i (Soon)]

        h3 Other
        div
          +wikilink('hardware_testing') Become a tester
          +wikilink('hardware_review') Get hardware for review
          +wikilink('next') Next blog entries
          +wikilink(org.roadmap, true) Roadmap

    div.box.entry
      block content
