extends ../_template.pug

block title
  block subtitle
    | Blog -
    |

mixin news_header(date, prev, next)
  hr
  p
    i #{date}
    if prev
      span &nbsp; #[+a(prev) <- Previous]
    if next
      span &nbsp; #[+a(next) Next ->]
  hr

block page
  h1 News and research

  div.boxes.wiki
    div
      div.box.index
        h2 Blog

        h3 News
        div
          +wikilink('report_30') Progress report 30
          +wikilink('report_29') Progress report 29
          +wikilink('kapybara_development') Kapybara development
          +wikilink('report_28') Progress report 28
          //- Keep only last 3 reports.
          +wikilink('reports_all') Old progress reports
          +wikilink('recap_year_2') Year 2 recap
          +wikilink('alpakka_v1') Alpakka 1.0 announcement
          +wikilink('patents') Patents, a necessary evil
          +wikilink('recap_year_1') Year 1 recap
          +wikilink('half_anniversary') Half anniversary
          +wikilink('shop_opening') Shop opening
          +wikilink('live') We are live

        h3 Research
        div
          +wikilink('alphanumeric_input') Alphanumeric input
          +wikilink('gyro_ratcheting') Gyro ratcheting and flick stick
          +wikilink('dual_gyro') Dual gyro
          +wikilink('finger_sensing') Finger sensing

        h3 Other
        div
          +wikilink('talking_about_us') They were talking about us
          +wikilink('hardware_review') Get hardware for review
          //- +wikilink('next') Propose blog entries
          +wikilink(org.roadmap, true) Roadmap

    div.box.entry
      block content
