extends ../_template.pug

block title
  block subtitle
    | Blog -
    |

mixin news_header(date, prev, next)
  hr
  p
    i #{date}
    if prev
      span &nbsp; #[+a(prev) <- Previous]
    if next
      span &nbsp; #[+a(next) Next ->]
  hr

block page
  h1 News and research

  div.boxes.wiki
    div
      div.box.index
        h2 Blog

        h3 News
        div
          +wikilink('report_9') Progress report 9
          +wikilink('shop_opening') Shop opening
          +wikilink('report_8') Progress report 8
          +wikilink('report_7') Progress report 7
          //- Keep only last 3 reports.
          +wikilink('reports_all') Old progress reports
          +wikilink('live') We are live

        h3 Research
        div
          +wikilink('typing_methods') Typing methods
          +wikilink('gyro_ratcheting') Gyro ratcheting and flick stick
          +wikilink('dual_gyro') Dual gyro
          +wikilink('finger_sensing') Finger sensing
          div.inactive Early prototypes retrosp. #[i (Soon)]
          div.inactive Early testers retrospective #[i (Soon)]
          div.inactive Gyro implementation details #[i (Soon)]

        h3 Other
        div
          +wikilink('talking_about_us') They were talking about us
          +wikilink('hardware_testing') Become a tester
          +wikilink('hardware_review') Get hardware for review
          +wikilink('next') Propose blog entries
          +wikilink(org.roadmap, true) Roadmap

    div.box.entry
      block content
