extends _blog.pug

block append subtitle
  | Half anniversary

block content
  h2 Half Anniversary
  +news_header('29 May 2023', 'report_13', 'report_14')

  h3 6 months since we went live
  p It's Input Labs halfnniversary! on 22th of November of 2022 we made this project public, and since then we received a massive amount of positive feedback, hundreds of friends joined the Discord server, and we even got help and contributions from professional electrical engineers, industrial designers, and embedded software engineers. We learnt a lot, and we made a lot of progress, but there is still much more to do, together.
  p As a celebration, we want to re-share with you one of the things that makes us happy: A collection of pictures of #[+a('/contribute/gallery_community') Wild Alpakkas made by the community].
  p Some of these are based on the reference designs, some others have custom mods, some have familiar colors, some are translucent, some are wooden, but most importantly all of them are #[em unique], and show the potential of an open source project like this. We love them and make us smile.
  p Thanks to everyone that supported this project, you made this possible!
  hr

  p - Michael & Marcos <3

