extends _blog.pug

block append subtitle
  | Get hardware for review

block content
  h2 Get hardware for review
  hr

  p #[em Youtube channels, news websites, podcasts], or similar media channels, can request devices of the current reference designs, for the purpose of being reviewed and featured in these channels, and increase awareness of the project.

  h3 Criteria and expectations
  ul
    li Input Labs will send ready-to-use devices, for #[em review purposes].
    li The channel must have a significant size and number of viewers/listeners/readers.
    li We have a small budget to create these devices, so requests will be #[em evaluated case by case].
    li In some cases we #[em may ask reviewers to bear with shipping costs] (depending on country and other factors).
    li Reviews are not presumed to be positive, this is #[em not a sponsorship] deal, but Input Labs will be available to address any questions or concerns that may arise while reviewing the device(s).
    li Input Labs may request the device(s) to be returned.

  p To request a device for review contact us at: #[span.lima #[span.lima2]] #[i (Cannot be copied)]
