extends _blog.pug

block append subtitle
  | Become a tester

block content
  h2 Become a tester
  hr

  p It is possible to become an #[em official Input Labs tester], provide useful feedback on current designs and prototypes, and influence development decisions with your ideas.

  p If necessary, Input Labs #[em may ship hardware directly to testers].

  h3 Criteria and expectations
  ul
    li Testers play videogames on PC for at least a few hours per week.
    li #[em Not required:] Testers can solder and 3D-print their own devices.
    li #[em Not required:] Testers have disabilities for which testing devices could be helpful.
    li Testers would ideally join #[+ax(org.discord) Discord] #[em #testing] room, and be reasonably active on it.
    li Testers should fill in periodic surveys Input Labs may be conducting.
    li Feedback collected may be anonymized and published on Input Labs research blog.
    li Testing is a volunteering activity for an open source project, without monetary compensation.
    li Testers, as Input Labs partners, are expected to behave respectfully in chats and social media.

  h3 For the testers that cannot build their own devices
  ul
    li Testing hardware #[em cannot be bought] from Input Labs, but may be given for free.
    li Given testing hardware #[em must not be sold] nor gifted to other people.
    li If the tester have a disability, Input Labs may create devices (or parts) on demand, and #[em ship it for free].
    li If the tester does not have any disability, Input Labs may create devices (or parts) on demand, but the tester may have bear with #[em shipping costs] themselves.
    li These requests will be #[em evaluated case by case].
    li Please understand that our resources are limited, and getting free hardware is not guaranteed.
    li Devices should be returned to Input Labs if requested.
    li Testing hardware comes without any kind of warranty, nor responsibility for damages.

  p Apply to join the tester program: #[+ax('https://forms.gle/zDeFn5owXuRKTFDh9') Join tester program].
