extends _blog.pug

block append subtitle
  | We are live

block content
  h2 We are live
  +news_header('22 November 2022', null, 'report_1')

  p: b The cat is out of the bag =^_^=

  p And the last weeks have been quite busy making everything ready, since we did not want to release just another GitHub page to the void of the interwebs, so we put a lot of effort in creating plenty of supporting material, including this web, a detailed manual, videos, etc...

  p This whole thing started as a passion project / cope mechanism while the pandemic, early ideas started around 2020, and the first prototypes were created later in 2021. (We will share drawings and pics in another post).

  p But several other factors contributed to the conception of Input Labs, like being inspired by this video of the #[+ax('https://www.youtube.com/watch?v=9fcK19CAjWM') Xbox Adaptive controller], and of course, the discontinuation of the Steam Controller. If we put these in a math formula it would look like this:

  p: em.wrap Pandemic + XAC inspiration + SC discontinued = Input Labs :)

  p Story-time!: The Adaptive controller inspired me (Marcos) because some years ago I had motorbike crash in which I broke a vertebra, the hip in multiple points, 3 ribs that punctured my lung and kidney, nerve damage, femur head out of its socket, and more. I was not able to move for many months, and while recovering one of my few entertainments was a videogame console. In the end I was very lucky to fully recover with minor aftereffects (nerve damage / sensitivity issues in the legs) and a nice titanium screw in my hip.

  p Anyways, Xbox Adaptive controller is a 10/10, but we felt that while it is doing an amazing job covering the most severe disability cases, there was no solutions around for people with less severe / mild disabilities. The reason is simple, it is a relatively small and very fragmented market to be profitable for companies. Or at least for traditional sales companies, but what if there was someone that solved the fragmentation via open source, and did not care about being mainstream because their users support the project like a foundation? #[i (Promotional video ukelele)] Introducing Input Labs...

  p Doing open source and working with videogames is cool, but could Input Labs ever be something more than a side project? we thought that by introducing some twists, it could work:
  ul
    li Twist #1 is to design controllers with performance so exceptional, that people with no disabilities will also want to use them, creating a much bigger userbase for feedback, contributions, and funding.
    li Twist #2 is to start working on a more mainstream controller first (#[+a('/alpakka') Alpakka]), and then moving to more specific disability use-case devices, after the core team and community is more established.

  p #[em Special thanks to:] Jaakko, Matti, Saku, Macarena, Kalle, Tim, Nico, Jean-Luc, and Joosa; for helping out while the project was being created.

  p So this is where the journey starts, trying something no one ever tried (possibly for a good reason), and having no idea were it will lead. Join us in this peculiar adventure and #[+a('/contribute') become part of Input Labs] too. There will be pizza... eventually.

  p - Marcos and Michael <3

