extends _blog.pug

block append subtitle
  | Patents, a necessary evil

block content
  h2 Patents, a necessary evil
  +news_header('8 January 2024', 'report_19', 'report_20')

  p In Input Labs we believe in transparency, open-source, and customer’s right to repair. We are also aware that patents are a complicated and controversial topic, so we want to address our community and explain our approach to intellectual property to avoid future misconceptions:

  p: em During the last year we have submitted 2 patents based on Input Labs research.

  hr
  h3 Why we submitted patents

  p The most important reason is the protection against parties that would abuse the patent system (a.k.a. #[em patent trolls]), preventing the community and us from freely using our research. Imagine, for example, a scenario in which we do not patent our inventions. Then an opportunistic company submits these ideas as their own, and sue us for patent infringement. We would have to waste a lot of resources and time in defending ourselves in court, with absolutely nothing to win. This may sound crazy, but there are plenty of horror stories about patent troll companies that behave like that, bullying and blackmailing small companies.

  p Another reason is the possibility of licensing these innovations as an alternative method to fund our research. We are not going to withhold our research from being used by other small companies, especially if they are providing accessibility-related solutions, but if large corporations want to use some of our innovations, it would be only fair that they give back to the community. A little bit of support from these corporations could help us a lot to allocate more resources and speed up our research and projects.

  hr
  h3 How these patents impact the community

  p We do not expect any impact in our community. Everyone will continue to have access to all our projects sources and designs, modify them, reshare them, and build their own controllers.

  p The rights provided to you by the licenses we are using in our projects (#[em GPL and Creative Commons BY-NC-SA]) remain unchanged, and everything you could do previously with these licenses you can still do now.

  hr
  h3 How these patents impact the future developments of Input Labs

  p Nothing is fundamentally changing in the way we operate now or in the future. We are committed to continue our projects as they were planned, under the same licenses, and with the same principles of openness and inclusivity.

  p If the opportunity arises, we may consider licensing these inventions to 3rd-party companies, as an alternative funding method for our public research.

  hr
  h3 Closing notes

  p We should clarify that these patent submissions are still pending (#[em "patent pending"] state), and they are still being evaluated and amended. We will share more details about their content in the future, when they become publicly available.

  p Thank you for understanding, and for your continued support. Please feel free to contact us if you have further questions.

  p - Marcos and Michael
