extends _blog.pug

block append subtitle
  | Progress report #16

block content
  h2 Progress report #16
  +news_header('31 August 2023', 'report-15', '')

  h3 New firmware version with racing profile
  p In order to better support racing games, #[+ax('https://github.com/inputlabs/alpakka_firmware/releases/tag/0.91.0') release f0.91.0 of the Alpakka firmware]  now supports a new racing profile. This can be activated by pressing the Home-button, in combination with the #[+a('/alpakka/manual/profiles') right-button of the directional pad].
  hr

  h3 New racing video
  p We released a #[+ax('https://www.youtube.com/watch?v=2oiIcfsC1XE') new video], demonstrating the new racing profile of the #[em Alpakka with Forza Horizon 5].
  p The previous video, showing an earlier beta-version with #[+ax('https://www.youtube.com/watch?v=ENlxAJThBBk') Assetto Corsa] is also still available.
  p Check them out!
  hr

  h3 Reminder: New questionnaire
  p Our #[+ax('https://docs.google.com/forms/d/1Yi1fTrZ4jTfSlE_bwsqj5qmaNJLkxFPPRWUbSM3GelI') 2nd questionnaire] is still open until the end of the week, and we would really appreciate your feedback.
  hr

  p Thanks a lot for the support! <br> - M&M <3
