extends _blog.pug

block append subtitle
  | Progress report #11

block content
  h2 Progress report #11
  +news_header('21 April 2023', 'report_10', 'report_12')

  h3 Beta version with alphanumeric input methods
  p As a continuation of the research on #[+a('alphanumeric_input') alphanumeric input], we now implemented an early version of some input methods (Glyph-stick, Daisywheel, 8-slot quick chat macros, and on-screen keyboard shortcut) and released it as #[+ax(org.fw_release+'0.89.0-beta') Firmware 0.89.0-beta].
  p We also published a #[+ax('https://www.youtube.com/watch?v=sVtkRMTe34o') demo video] showing how to use these.
  p We hope to get plenty of feedback from the community to iterate over these.
  hr

  h3 Automated firmware build with GitHub actions
  p GitHub is now #[em automatically building] changes on the main branch and creating the final #[em .uf2] firmware file as part of our #[em CI/CD], which will integrate automated testing later.
  p We are also able to build any branch or tag, triggering it from the GitHub web UI, which is useful for releasing beta versions like the one above.
  p Previously we did it locally, which required additional testing just to be sure there was no human error.
  p Additionally now everyone can verify the #[em metadata.txt] file in the build artifacts, and check the hash and job URL:
  pre: code.
    =================================
    This firmware build was automated
    =================================

    Branch/Tag:
    refs/tags/0.89.0-beta

    Commit:
    4f6c315d73ec5de1b761f69d14f3f8158d25de6b

    Checksum:
    $ shasum alpakka.uf2
    9a7ea8127cefb8c21ba46288f43324b2b7dfe4ce

    Job:
    https://github.com/inputlabs/alpakka_firmware/actions/runs/4745704629
  hr

  h3 Rolled out first feedback questionnaire for testers
  p We are getting feedback from official #[+a('hardware_testing') Testers] regarding the process of building an Alpakka controller, sourcing the components, and the DIY experience in general.
  p The questionnaire enables us to gather feedback in a more structured manner and work on improvements accordingly.
  hr

  h3 New kits in the shop
  p We introduced new articles in the #[+ax(org.shop) Input Labs shop]. The new articles are:
  ul
    li 3D-printed front case.
    li 3D-printed back case.
    li 3D-printed buttons.
    li Soldering stand in recycled PLA.
    li Electronics components set.
  p Offering 3D-printed parts gives people without access to 3D-printers a fallback to obtain those parts, directly from the people with the most experience in printing these ;)
  p The parts are available in multiple colors, and we may introduce additional colors later.
  hr
  p Thanks a lot for the support! <br> - M&M <3
