extends _blog.pug

block append subtitle
  | Progress report #15

block content
  h2 Progress report #15
  +news_header('31 July 2023', 'report-14', '')

  h3 New version of 3D models
  p In order to improve the stability of the scroll-wheel and reduce reports about "wobbling", we have re-designed the two parts, so that they fit together more reliably.
  img(src='https://github.com/inputlabs/alpakka_case/assets/7466304/f87ba220-89bd-451d-99ed-a1448d932306').wm
  p As you may notice, the scroll-wheel slot is deeper and has 2 ejection holes, in case it is necessary to remove the shaft.
  p The new version of the scroll-wheel, as well as a few other changes are part of #[+ax('https://github.com/inputlabs/alpakka_case/releases/tag/0.90.0') release c0.90.0]:
  hr

  h3 Work on wireless Alpakka
  p Our primary focus is currently on the development of the wireless version of the Alpakka.
  p The current plan for a first iteration is based on a 1200 mAh Lithium-Polymer battery that would have to be charged externally.
  p Based on feedback from our testing community, the vast majority is using devices with Bluetooth 4 or 5 (or an unknown Bluetooth version) in their relevant environment. Initially we are working on a Bluetooth 4-based version and the HID profile, where we see latencies in the range of 30 - 32 ms. At a later stage we expect this to be optimized and to potentially use Bluethooth 5 and the HOG profile.
  hr

  h3 New questionnaire
  p We also have a new #[+ax('https://docs.google.com/forms/d/1Yi1fTrZ4jTfSlE_bwsqj5qmaNJLkxFPPRWUbSM3GelI') questionnaire] out, this time aimed more generally at Alpakka users.
  p This questionnaire will remain active until Friday, 1st of September 2023, and we would really appreciate your feedback.
  hr

  p Thanks a lot for the support! <br> - M&M <3