extends _blog.pug

block append subtitle
  | All progress reports

block content
  h2 All progress reports
  hr

  ul
    li: +a('report_25') Progress report 26
    li: +a('report_25') Progress report 25
    li: +a('report_24') Progress report 24
    li: +a('report_23') Progress report 23
    li: +a('report_22') Progress report 22
    li: +a('report_21') Progress report 21
    li: +a('report_20') Progress report 20
    li: +a('report_19') Progress report 19
    li: +a('report_18') Progress report 18
    li: +a('report_17') Progress report 17
    li: +a('report_16') Progress report 16
    li: +a('report_15') Progress report 15
    li: +a('report_14') Progress report 14
    li: +a('report_13') Progress report 13
    li: +a('report_12') Progress report 12
    li: +a('report_11') Progress report 11
    li: +a('report_10') Progress report 10
    li: +a('report_9') Progress report 9
    li: +a('report_8') Progress report 8
    li: +a('report_7') Progress report 7
    li: +a('report_6') Progress report 6
    li: +a('report_5') Progress report 5
    li: +a('report_4') Progress report 4
    li: +a('report_3') Progress report 3
    li: +a('report_2') Progress report 2
    li: +a('report_1') Progress report 1
