extends _blog.pug

block append subtitle
  | Progress report #3

block content
  h2 Progress report #3
  hr
  p: i 17 December 2022
  hr

  p A new version of the Alpakka firmware has been released #[+ax('https://github.com/inputlabs/alpakka_firmware/releases/tag/0.86.1') 0.86.1], with an #[em easter egg] for patrons, which is one of the #[+ax(org.patreon) Patreon] rewards. We could explain how it works and what it does, but where would be the fun then?

  p We also put in place the guidelines and expectations to #[+a('/blog/hardware_testing') become a tester], and how to apply. With this program we aim to gather much more feedback about the devices, specially from #[em gamers with disabilities], giving them #[em hardware free of cost] if necessary. This is going to be a significant expenditure for Input Labs, and we may not be able to do it forever, but no one said democratizing videogame controllers will be easy nor cheap.

  p And finally, our wonderful patrons voted #[+ax('https://www.youtube.com/watch?v=dUnYtamr2OI') Doom (2016)] for a gameplay video with the Alpakka controller.

  p Thanks for your support!

  p - Marcos and Michael <3

