extends _blog.pug

block append subtitle
  | Progress report #12

block content
  h2 Progress report #12
  +news_header('08 May 2023', 'report_11', 'report_13')

  h3 More than 500 Discord users
  p Our community of Discord users has now grown to more than 500.
  p We would like to take this opportunity to thank everybody for their active and often extremely helpful contributions. While our background is in software engineering, our experience in hardware- and electronics design is in it's infancy. Help from our expert community not only allows us to improve devices, such as the Alpakka, but we are also learning a lot from you.
  p Thank you!
  hr

  h3 First questionnaire
  p The responses to our first questionnaire were altogether very positive. People are able to find the information and files they are looking for, in order to procure the necessary components, and build an Alpakka controller.
  p Two of the biggest issues appear to be the availability of the nuts and bolts, as well as the 3D printed parts, which we are addressing by offering them in our #[+ax('https://inputlabs.squarespace.com') distribution channel].
  p The other significant problem is the sourcing of the PCBs, and the minimum order quantity, imposed by most providers, which leads to a relatively high price for building a single controller. We are currently working on addressing this issue, and hope to soon be able to offer also the populated PCBs in our distribution channel.
  hr

  //-h3 Improved 3D model printing documentation
  //-h3 Working on wireless Alpakka
  //-h3 Review unit request from Linux Media

  h3 Returnal video
  p We are still having fun, playing computer games. We now published a new video, demonstrating the Alpakka with #[+ax('https://www.youtube.com/watch?v=i3ULDtX_gHE') Returnal] from Housemarque. Check it out!
  hr

  //-h3 Make magazine article

  p Thanks a lot for the support! <br> - M&M <3
