extends _blog.pug

block append subtitle
  | Progress report #7

block content
  h2 Progress report #7
  hr
  p: i 27 January 2023
  hr

  h3 Risk of Rain 2
  p Our patrons voted for the next gameplay video, and the winner was #[+ax("https://www.youtube.com/watch?v=fGY4EGVrsoY") Risk of Rain 2].
  p Check it out!
  hr

  h3 Bug fixing
  p We spent a lot of time fixing issues related to how specific platforms (KDE, Steam) behave. Those fixes will be part of the next release.
  img.mt(src='/static/blog/Screenshot_20230126_064746.png' width='425px')
  hr

  h3 Raspberry Pi Blog
  p The Alpakka received another, very favorable review. This time by the #[+ax("https://www.raspberrypi.com/news/build-your-own-accessible-alpakka-gaming-controller/") Raspberry Pi blog].
  hr

  p - M&M <3
