extends _blog.pug

block append subtitle
  | Progress report #12

block content
  h2 Progress report #12
  +news_header('08 May 2023', 'report_11', '')

  h3 More than 500 Discord users
  p 
  hr

  h3 Results of first questionnaire
  p 
  hr

  h3 Improved 3D model printing documentation
  p 
  hr

  h3 Working on wireless Alpakka
  p 
  hr

  h3 Review unit request from Linux Media
  p 
  hr

  p Thanks a lot for the support! <br> - M&M <3
