extends _blog.pug

block append subtitle
  | Weekly report #1

block content
  h2 Weekly report #1
  hr
  p: i 3 December 2022
  hr

  p This has been a very special week, we shared our passion project with the world, and the response has been awesome!, we could not be happier.

  p We had an impressive amount of people visiting the website, and several new friends joining the #[+ax(org.discord) Discord] server everyday. Comments were very positive and cheerful, and seems that the project resonated with a lot of people, specially the accessibility aspect. Overall a fantastic response from the community!

  p Additionally some folks said they are going to #[em build their own Alpakka controller], so we cannot wait to see the first wild Alpakkas to appear, feedback will be super effective.

  p As retrospective of work done this week: we consumed most of our time in "post-launch" activities, administrative stuff (boring), but also fixes to the website, and learning how to organize better the review-hardware requests we are getting.

  p We also made this video of #[+ax('https://www.youtube.com/watch?v=534hqEG2R7Y') Deep Rock Galactic gameplay] with the Alpakka controller, #[em rock and stone!] (Become a #[+ax(org.patreon) patron] and vote for the next videos).

  p Thanks for your support!

  p - Marcos and Michael <3

