extends _blog.pug

block append subtitle
  | Progress report #7

block content
  h2 Progress report #7
  +news_header('27 January 2023', 'report_6', 'report_8')

  h3 Risk of Rain 2
  p Our patrons voted for the next gameplay video, and the winner was #[+ax("https://www.youtube.com/watch?v=fGY4EGVrsoY") Risk of Rain 2].
  p Check it out!
  hr

  h3 Bug fixing
  p We were actively investigating issues related to how specific platforms (KDE, Steam Deck) behave. There will be more details about this later on.
  hr

  p - M&M <3
