extends _blog.pug

block append subtitle
  | Progress report #5

block content
  h2 Progress report #5
  hr
  p: i 30 December 2022
  hr

  h3 First batch of testers
  p We reviewed and accepted our first batch of #[+ax("/blog/hardware_testing") testers] (in addition to the friends and family we used previously), and are currently in the process of setting up and testing the process and logistics for distributing hardware for those testers who need it.

  p Based on the information provided in the questionaire,
  ul 
    li more than 30% of respondents have a disability 
    li more than 60% are able to 3D print
    li more than 30% are interested in #[+ax("/kapybara") Kapybara]
  p Thank you very much for your interest!
  hr

  h3 Printables and Thingiverse
  p We created groups for our Alpakka designs on #[+ax("https://www.printables.com/model/351339-alpakka") Printables ] and on #[+ax("https://www.thingiverse.com/thing:5748744") Thingiverse].
  p This should make it considerably easier for people to find those designs, mix them up, and provide feedback.
  hr
  
  h3 Some stats
  p Our Discord community has now grown to more than 200 participants, and the activity is great!
  p We also have now more than 250 subscribers on YouTube.
  p Thank you very much!
  hr

  p Enjoy the new run-around-the-sun celebrations!

  p - M&M <3