extends _blog.pug

block append subtitle
  | They were talking about us

block content
  h2 They were talking about us
  hr
  p: i Last update: 01 July 2025
  hr

  ul
    li #[+ax('https://www.youtube.com/watch?v=RJ0Ogjo8ZdQ') FPS Gyro] #[em (video)] ALPAKKA 1.0 Gameplay test / ARC Raiders
    li #[+ax('https://www.youtube.com/watch?v=_txUg6774N4') FPS Gyro] #[em (video)] ALPAKKA 1.0 GYRO CONTROLLER / FIRST IMPRESSIONS / FIRST MODS
    ul
      li: i "I can tell you from the get-go that this is very precise."
      li: i "I don't know if it's a revolution, as someone claimed, but this one definitely allows me to shoot really, really good."
      li: i "I was winning more games than with the Dual Sense."

    li #[+ax('https://www.youtube.com/watch?v=RJ0Ogjo8ZdQ') Kroopniock] #[em (video)] How good is this 3D printed game controller?
    ul
      li: i "[This - the gyros -] makes this controller super useful for any type of shooter."
      li: i "X-box [controller] was always the only one I used."
      li: i "I like how customizable it is."

    li #[+ax('https://www.youtube.com/watch?v=9tP6crSIfS8') NoMisZx] #[em (video)] The Finals | Powershift Alpakka Gyro Gameplay (No Aim Assist)

    li #[+ax('https://www.youtube.com/watch?v=WEJ_AO--MCI') IPlayController] #[em (video)] World's Most Accurate Controller: Alpakka v1.0 Review
    ul
      //- li: i "When you think about this controller, I want you to think about it not as a game-pad, but as a weapon of war, designed to inflict ass-hurt, on the other side of the internet connection."
      li: i "It is so accurate, I consider it the first controller that can legitimately compete against mouse and keyboard players at a high-level, with no aim-assist."
      //- li: i "The different in averages is over precision aim was over 15% between the Alpakka and the Dualsense, which is the best commercially available gyro you can get today on a controller."
      //- li: i "In comparison, the Dualsense, where you are going for precision shots, is going to feel a tiny bit floaty and vague. And any commercially available controller use beyond that, like the Nintendo Switch Pro, Nikon Revolution 5 Pro, or Fly Digi Vader, is going to feel even worse than that."
      //- li: i "With this controller, with enough practice, you'll be able to do just as well, as with any mouse. It is that accurate and precise."
      li: i "The polygonal shape actually helps you grip the controller."
      //- li: i "There is no hair trigger that is as hair-triggery as that on the Alpakka. ... It's like clicking a mouse."
      li: i "With this controller you get the best gyro performance you can ask for on a controller. Nothing else that is commercially sold even holds a candle to this controller."
      //- li: i "If you want to compete in a sweaty competitive shooter on PC, you gotta get the Alpakka."
      //- li: i "The gyro performance is everything that is advertised, and then some."
      //- li: i "It totally shredded the Dualsense in a 1 vs. 1 test."
      //- li: i "The Alpakka controller: it is expensive, it's janky, but it is incredibly accurate. It is eerily accurate, weirdly accurate, and I love this controller."


    li #[+ax('https://www.youtube.com/watch?v=O_omKnvfgKY') FlickStick Videos] #[em (video)] No right stick controller in 2025?! - Alpakka Controller (v0.97) Review
    ul
      //- li: i "What if we put what makes mice to precise, on a controller?"
      li: i "You experience less noise and much more stability. It's crazy!"
      li: i "You can re-bind every button of this controller with an incredible input-remapper, made by Input Labs."
      li: i "This controller is so customizable, you can even type with it!"
      //- li: i "You just plug in the controller and play. It's that easy!"



    li #[+ax('https://makeityourself.org/') Make it Yourself] #[em (pdf / book)] 1000 Useful Things to Make

    li #[+ax('https://www.youtube.com/watch?v=OXCcPrCjVTk') NoMisZx] #[em (video)] Call of Duty Black Ops 6 AEK is crazy | Motion Controls (Gyro, No Aim Assist)

    li #[+ax('https://www.youtube.com/watch?v=O0L5xHEIvA8') NoMisZx] #[em (video)] Delta Force: Hawk Ops Pre-Alpha Gyro-Gameplay

    li #[+ax('https://hackspace.raspberrypi.com/articles/alpakka-3d-printed-controller-review') HackSpace] : Alpakka 3D printed controller review
    ul
      li: i "Once wireless support is added, it’ll compare favourably to any of the commercial controllers we’ve used."
      li: i "Verdict: 8/10"
      li: i "A great, hackable controller. We’d just like a few tolerance options."

    li #[+ax('https://magpi.raspberrypi.com/issues/138') The MagPi — Issue 138, page 31] : Next Gen Retro
    ul
      li: i "You’ll want a controller, like this 3D-printed Alpakka, to play retro games."

    li #[+ax('https://www.youtube.com/watch?v=xxRa807g54Q') RambleCan] #[em (video)] Remap All The Things!【Ctrl App / Alpakka Dual Gyro Controller】
    ul
      li: i "This was one of my major frustrations, just not being able to remap things easily on the controller"
      li: i "Easy-peasy, I was able top switch it"
      li: i "It updates automatically, which is pretty cool"
      li: i "The big gripe I had about the controller: gone"

    li #[+ax('https://www.youtube.com/watch?v=h1B6Xp8s_Jc') Oregon Pacifist] #[em (video)] Input Labs "Alpakka" Controller Review (3D Printed & Open Source)
    ul
      li: i "This controller will make you rethink what's possible in controllers"
      //- li: i "As you're learning to use this controller in a FPS, you will move and look around like a drunken monkey."
      li: i "With a little bit of practice you can get really precise and really good at these little, tiny, minute movements that you would usually get accustomed to with a mouse."
      //- li: i "This might be a game changer"
      li: i "You would definitely be running circles around people that are using the right thumbstick."

    li #[+ax('https://simracing-pc.de/en/2023/09/05/diy-project-alpakka-controller-by-input-labs-review/') Simracing-PC] : DIY project: Alpakka controller by Input Labs
    ul
      li: i "The central element around the Alpakka controller is the community."
      li: i "The two gyro-sensors work much(!) more precisely than you know it from the gyro-control in Mario Kart, for example. There is also no noticeable input lag, which makes the operation very comfortable."
      li: i "Especially for sim racers, it clearly stands out from the many other standard controllers and is a lot of fun."

    li #[+ax('https://www.youtube.com/watch?v=GehkHsNhwGA') RambleCan] #[em (video)] Alpakka Dual Gyro Controller Impressions -【Warhammer 40k: Boltgun】
    ul
      li: i "Pretty darn cool! I'm digging it!"
      li: i "It's refreshing that there is a new idea in the controller-sphere"
      //- li: i "this is a fun one. I'm enjoying it."

    li #[+ax('https://www.heise.de/news/Alpakka-Der-Wunsch-Gamecontroller-mit-Mausfunktion-8977493.html') Heise Online] Alpakka: The Dream-Gamecontroller with Mouse-functionality
    ul
      li: i "The Alpakka can be completely customized via software and hardware. Thanks to gyro sensors it even replaces the mouse and thus brings uncompromising gaming to the couch."

    li #[+ax('https://magpi.raspberrypi.com/issues/128') The MagPi — Issue 128, page 76] Alpakka: A DIY controller that can be used like a mouse or a gamepad with extra buttons.
    ul
      li: i "One of the reasons the controller is like this, though, is that you can also use it like a mouse thanks to advanced gyro functions"

    li #[+ax('https://linuxgamecast.com/2023/02/input-labs-alpakka-the-true-diy-controller/') LinuxGameCast] #[em (video)] Alpakka - The BEST Open-Source Controller
    ul
      li: i "It cuts it very close to being perfect"
      li: i "This controller is amazing, it is the embodiment of everything that is awesome about open source"
      li: i "Support them! It is that easy to completely shake up the controller market"

    li #[+ax('https://youtu.be/0LORbheX_q8') SilverSeraphym] #[em (video)] The Alpakka: A Creative Commons Controller
    ul
      li: i "Most accurate gyro control I've ever used"
      li: i "The best FPS experience with a controller I've ever had ... It immediately feels intuitive"
      li: i "It makes me move my thumbs around less, so it reduces the pain [carpal tunnel]"

    li #[+ax('https://youtu.be/OrucAJknMys?t=71') NerdNest] #[em (video)] This CHANGED MY MIND about the Steam Controller 2
    ul
      li: i "I want Xbox, PlayStation and Nintendo to sit up and say ... these guys figured it out"
      li: i "I was skeptical ... but I feel like this is as good, if not better, than using a mouse"
      li: i "The precision when using that [dual gyro] is absolute insanity, you can't imagine how good it is"
      //- li: i "I've never used a gyroscope that felt as good as this"
      //- li: i "It was amazing, I felt like a badass"
      //- li: i "Valve, can you just buy them?, take all their research and put it in a Steam Controller v2"
      //- li: i "I want this, from Valve"

    li #[+ax('https://youtu.be/Bcpz1bi7Uek?t=1641') Digikey Electronics] #[em (video)] Favorite Projects of 2022
      ul
        li: i "This is a really well developed Xbox-style gamepad system"
        li: i "It is insanely well done"

    li #[+ax('https://fabcross.jp/news/2023/20230210_alpakka.html') fabcross] #[em (article)] "Alpakka": A project to make your own open source gyro-equipped game controller

    li #[+ax('https://www.hackster.io/news/alpakka-is-an-open-source-gamepad-based-on-the-raspberry-pi-pico-05380c38181d') Hackster] #[em (article)] Alpakka is an open source gamepad based on the Raspberry Pi Pico

    li #[+ax('https://rootblog.pl/alpakka-kontroler/') Rootblog] #[em (article)] A controller that you can make yourself

    li #[+ax('https://youtu.be/zsn1IY-O4RU?t=209') RambleCan] #[em (video)] Could this be the year for controller innovation?
    ul
      li: i "I want to buy it. Make it a production model, and I will buy it"
      li: i "2 gyros could be friking great for gyro steering [racing]"

    li #[+ax('https://www.raspberrypi.com/news/build-your-own-accessible-alpakka-gaming-controller/') Raspberry] #[em (article)] Build your own accessible Alpakka gaming controller

    li #[+ax('https://www.yankodesign.com/2022/12/26/this-diy-game-controller-looks-like-a-low-poly-object-taken-from-a-video-game/') Yanko Design] #[em (article)] This DIY game controller looks like a low-poly object taken from a video game

    li #[+ax('https://youtu.be/ESY2u-6I8-w?t=714') LinuxGameCast] #[em (video)] Pedro still has that funky controller
    ul
      li: i "Spoilers: I like it a lot"
      li: i "This makes me want to buy a 3D printer"
      li: i "I love the idea of being able to print everything for the controller"

    li #[+ax('https://hi-tech.mail.ru/news/61243-soberi-sam-predstavlen-geympad-s-otkrytym-ishodnym-kodom/') Hi-tech] #[em (article)] Do It Yourself: Open source gamepad

    li #[+ax('https://www.3printr.com/alpakka-open-source-controller-from-the-3d-printer-5160227/') 3Printr] #[em (article)] Alpakka: Open Source Controller from the 3D Printer

    li #[+ax('https://www.trendhunter.com/trends/alpakka-controller') Trend Hunter] #[em (article)] The Alpakka Controller Showcases an Elevated Form and Function

    li #[+ax('https://hackaday.com/2022/12/22/alpakka-a-creative-commons-game-controller/') Hackaday] #[em (article)] Alpakka: A creative commons game controller

    li #[+ax('https://picockpit.com/raspberry-pi/raspberry-pi-projects-alpakka-game-controller-blackout-logger-light-meter/') PiCockpit] #[em (article)] Alpakka controller for the Pico

  p Do you know about any other media reporting on Input Labs? If so please contact us.
