extends _blog.pug

block append subtitle
  | They were talking about us

block content
  h2 They were talking about us
  hr
  p: i Last update: 27 April 2023
  hr

  ul
    li #[+ax('https://www.youtube.com/watch?v=GehkHsNhwGA') RambleCan] #[em (video)] Alpakka Dual Gyro Controller Impressions -【Warhammer 40k: Boltgun】
    ul
      li: i "Pretty darn cool! I'm digging it!"
      li: i "It's refreshing that there is a new idea in the controller-sphere"
      //li: i "this is a fun one. I'm enjoying it."

    li #[+ax('https://www.heise.de/news/Alpakka-Der-Wunsch-Gamecontroller-mit-Mausfunktion-8977493.html') Heise Online] Alpakka: The Dream-Gamecontroller with Mouse-functionality
    ul
      li: i "The Alpakka can be completely customized via software and hardware. Thanks to gyro sensors it even replaces the mouse and thus brings uncompromising gaming to the couch."

    li #[+ax('https://magpi.raspberrypi.com/issues/128') The MagPi — Issue 128, page 76] Alpakka: A DIY controller that can be used like a mouse or a gamepad with extra buttons.
    ul
      li: i "One of the reasons the controller is like this, though, is that you can also use it like a mouse thanks to advanced gyro functions"
    
    li #[+ax('https://linuxgamecast.com/2023/02/input-labs-alpakka-the-true-diy-controller/') LinuxGameCast] #[em (video)] Alpakka - The BEST Open-Source Controller
    ul
      li: i "It cuts it very close to being perfect"
      li: i "This controller is amazing, it is the embodiment of everything that is awesome about open source"
      li: i "Support them! It is that easy to completely shake up the controller market"

    li #[+ax('https://youtu.be/0LORbheX_q8') SilverSeraphym] #[em (video)] The Alpakka: A Creative Commons Controller
    ul
      li: i "Most accurate gyro control I've ever used"
      li: i "The best FPS experience with a controller I've ever had ... It immediately feels intuitive"
      li: i "It makes me move my thumbs around less, so it reduces the pain [carpal tunnel]"

    li #[+ax('https://youtu.be/OrucAJknMys?t=71') NerdNest] #[em (video)] This CHANGED MY MIND about the Steam Controller 2
    ul
      li: i "I want Xbox, PlayStation and Nintendo to sit up and say ... these guys figured it out"
      li: i "I was skeptical ... but I feel like this is as good, if not better, than using a mouse"
      li: i "The precision when using that [dual gyro] is absolute insanity, you can't imagine how good it is"
      //- li: i "I've never used a gyroscope that felt as good as this"
      //- li: i "It was amazing, I felt like a badass"
      //- li: i "Valve, can you just buy them?, take all their research and put it in a Steam Controller v2"
      //- li: i "I want this, from Valve"

    li #[+ax('https://youtu.be/Bcpz1bi7Uek?t=1641') Digikey Electronics] #[em (video)] Favorite Projects of 2022
      ul
        li: i "This is a really well developed Xbox-style gamepad system"
        li: i "It is insanely well done"

    li #[+ax('https://fabcross.jp/news/2023/20230210_alpakka.html') fabcross] #[em (article)] "Alpakka": A project to make your own open source gyro-equipped game controller

    li #[+ax('https://www.hackster.io/news/alpakka-is-an-open-source-gamepad-based-on-the-raspberry-pi-pico-05380c38181d') Hackster] #[em (article)] Alpakka is an open source gamepad based on the Raspberry Pi Pico

    li #[+ax('https://rootblog.pl/alpakka-kontroler/') Rootblog] #[em (article)] A controller that you can make yourself

    li #[+ax('https://youtu.be/zsn1IY-O4RU?t=209') RambleCan] #[em (video)] Could this be the year for controller innovation?
    ul
      li: i "I want to buy it. Make it a production model, and I will buy it"
      li: i "2 gyros could be friking great for gyro steering [racing]"

    li #[+ax('https://www.raspberrypi.com/news/build-your-own-accessible-alpakka-gaming-controller/') Raspberry] #[em (article)] Build your own accessible Alpakka gaming controller

    li #[+ax('https://www.yankodesign.com/2022/12/26/this-diy-game-controller-looks-like-a-low-poly-object-taken-from-a-video-game/') Yanko Design] #[em (article)] This DIY game controller looks like a low-poly object taken from a video game

    li #[+ax('https://youtu.be/ESY2u-6I8-w?t=714') LinuxGameCast] #[em (video)] Pedro still has that funky controller
    ul
      li: i "Spoilers: I like it a lot"
      li: i "This makes me want to buy a 3D printer"
      li: i "I love the idea of being able to print everything for the controller"

    li #[+ax('https://hi-tech.mail.ru/news/61243-soberi-sam-predstavlen-geympad-s-otkrytym-ishodnym-kodom/') Hi-tech] #[em (article)] Do It Yourself: Open source gamepad

    li #[+ax('https://www.3printr.com/alpakka-open-source-controller-from-the-3d-printer-5160227/') 3Printr] #[em (article)] Alpakka: Open Source Controller from the 3D Printer

    li #[+ax('https://www.trendhunter.com/trends/alpakka-controller') Trend Hunter] #[em (article)] The Alpakka Controller Showcases an Elevated Form and Function

    li #[+ax('https://hackaday.com/2022/12/22/alpakka-a-creative-commons-game-controller/') Hackaday] #[em (article)] Alpakka: A creative commons game controller

    li #[+ax('https://picockpit.com/raspberry-pi/raspberry-pi-projects-alpakka-game-controller-blackout-logger-light-meter/') PiCockpit] #[em (article)] Alpakka controller for the Pico

  p Do you know about any other media reporting on Input Labs? If so please contact us.
