extends _blog.pug

block append subtitle
  | Wireless Alpakka

block content
  h2 Wireless Alpakka
  hr
  p
    i 08 September 2023 <br>
  hr

  h3 1. Introduction
  p One of the most requested features for the Alpakka controller is the ability to use it without any kind of cable. To replace the cable, the controller requires an alternative power source, as well as an alternative means of communication with the computer.
  p At this stage we would like to outline the current status of our research and the decisions that we have taken so far to progress in the development of a suitable solution.

  h3 2. Power

  h4 2.1 Battery
  p Power consumption and acceptable wireless use

  h4 2.2 Recharging

  h3 3. Communication
  p Using existing standards, i.e. BT, WLAN, Nordic

  h4 3.1 Bluetooth
  h5 Versions
  h5 Profiles
  h5 Hardware Heterogeneity
  h5 Latency
  
  h4 4. Status of first Iteration
  p 

  h4 5. Future Development