extends _blog.pug

block append subtitle
  | Year one recap

block content
  h2 Year one recap
  +news_header('22 November 2023', 'report_18', '')

  p One year ago Input Labs went live, it is time to review our achievements and our failures.

  h3 Things that went nicely
  h4 Community
  ul
    li Our nice #[em community kept growing], now with 735 discord members. This is by far the thing that makes us more proud, and it is awesome to see people helping each other there. To make it even better, some of the members are experts in their fields (electrical engineers, industrial designers) and contribute with expert advice and knowledge.
    li We got a #[em small office] in the #[+ax('https://maria.io/about/') Maria 01 startup campus] in Helsinki, and we moved our 3D-printers and other tools there, making it the "Lab" of Input Labs.
    li The project received plenty of #[em positive feedback] in the different social channels in which we have presence, and lot of people encouraged us to continue. We got very limited (almost negligible) negative interactions.
    li About #[em 30 community mods] were created for the Alpakka controller, most of them modifications of the 3D-printed models for different purposes.
    li Our project got supported by #[em 10 wonderful folks in Patreon].
    li We opened the #[em distribution channel (shop)] to better serve testers, reviewers, and everyone without the tools to build a controller from scratch. Setting up the logistics to build and deliver all these components has been a challenge, but also a success in verifying that the "DIY-or-buy" model for supporting open source projects can work for us.

  h4 Exposure
  ul
    li We published #[+ax(org.youtube) 15 videos on Youtube], reaching a total of 58K views.
    li The Alpakka controller was independently #[em reviewed by 5 Youtube channels].
    li We were featured in the #[+ax('https://magpi.raspberrypi.com/issues/128') Raspberry Pi magazine], Heise magazine, and at least 10 other tech-related websites.
    li The Alpakka controller was demoed among a few #[em videogame companies] with office in Helsinki, and had a small demo booth at the #[+ax('https://igda.org') IGDA] (International Game Developers Association) event.

  h4 Development
  ul
    li There were #[em 21 firmware releases] (including betas), addressing lot of community requested features such as:
    ul
      li #[em Console Legacy] profile which makes easier to play emulators and retro games.
      li #[em Racing] profile which allows to use the controllers as a steering wheel.
      li #[em Generic] gamepad mode (aka DirectInput) implementation, which is useful both for retro gaming and for simulators expecting generic joysticks or steering wheels.
      li Full #[em Steam Deck] compatibility.
      li We created the #[em Ctrl app] as an alternative (and optional) method for configuring the Alpakka controller.
    li There were #[em 5 3D-print models releases] with iterative improvements.
    li There were #[em 3 PCB releases] with iterative improvements.

  h4 Research
  ul
    li A total of #[+a('/db/stats') 44 games evaluated] for the accessibility game database.
    li Published research notes about #[+a('gyro_ratcheting') Gyro ratcheting and flick-stick].
    li Done in-depth research about #[+a('alphanumeric_input') Alphanumeric input methods] and implemented some of them in the Alpakka controller.

  hr
  h3 Things that could have gone better
  ul
    li We were too enthusiastic, and we #[em.wrap miscalculated the amount of work 2 individuals can achieve] even if working full-time. We got help from the community with the development, but there are many other aspects of running a company that can easily become a time sink (legal, taxes, insurances, accounting, logistics, support, etc).
    li The #[em.wrap Kapybara controller development did not start yet], our original plan was to develop it alongside with the Alpakka, but eventually we realized that we do not have the resources to run 2 devices development in parallel, so we decided to delay the Kapybara development until we are done with wireless-related features on the Alpakka.
    li We onboarded a total of 46 testers in the Testers program, 21 of them with disabilities, but #[em.wrap we never figured out how run the Tester program effectively]. After receiving the initial feedback we were unsuccessful in defining a process to keep the testers engaged, and to keep new feedback and ideas coming. This again boils down to lack of time and resources in our side.
    li Even though we were successful in making ourselves somewhat visible in the DIY, 3D-printing, and accessibility communities, #[em.wrap we failed to catch the attention of videogame-focused journalism] (eg PC Gamer, IGN, Kotaku, etc). There is not much we can do there other than keep working hard, and sending them emails sometimes.
    li The #[em wireless / Bluetooth] version of the Alpakka has been much harder to implement than what we expected. We were gladly surprised when a version of the Raspberry Pico with WiFi and Bluetooth was released (Pico-W), and we decided to experiment with it hoping to avoid a lot of trouble. Unfortunately Bluetooth is a extremely complex protocol, and there is still a lot of trouble.
    li The #[em company is not financially stable yet]. There is revenue but we are reinvesting 100% of it in the company, and we are still working full-time in this project with no salaries (because we believe in what we do). This was expected when we bootstrapped the company with no external investment, but it cannot last forever.

  hr
  h3 Things we hope to achieve in the second year of Input Labs
  ul
    li Additional #[em Ctrl app] features (profile edit, advanced settings, etc).
    li #[em Alpakka 1.0] with wireless.
    li #[em Kapybara] workgroup, initial design, and further development.
    li Complete #[em rework of the testers program].
    li Figure out alternative ways to #[em financially support our research], this may include external investment, partnerships with other companies, applying for government startup support, etc...

  hr
  p Thanks a lot for the support! <br> - M&M <3
