div.desc
  p #[em Mixed Input DB] is community-driven database dedicated to test and #[+a('tiers') rate] how videogames handle simultaneous input. So any combination of mouse, keyboard, and gamepad, used in parallel.
  p Games with good mixed input support are more accessible, and more fun to play with gyro controllers.
  p To submit new entries, request games, or propose changes, please ping us on #[+ax(org.discord) Discord #games] channel.
  p
    span Games in database: #{Object.keys(MIDB).length} #[br]
    span.dim: i *Data could be outdated or incorrect.
