extends _manual.pug

block append title
  | Modify profiles

block content
  h2 Modify profiles
  hr

  p We are working in a simple method to create and load profiles via USB, without the need to recompile the firmware, but at the moment the only way to edit profiles is to change the source code.
  p Meanwhile profiles are just C code located in the #[+ax('https://github.com/inputlabs/alpakka_firmware/tree/main/src/profiles') profiles/] folder, each profile in a single file containing a #[em Profile] object. And the profile having its buttons defined, a #[em Button] object for each button.
  p The parameters of the #[em Button] object are:
  ul
    li The #[+ax('https://github.com/inputlabs/alpakka_firmware/blob/main/src/headers/pin.h') pin identifier] of the physical button.
    li The desired #[em behavior] of the button. (See below).
    li A list of #[+ax('https://github.com/inputlabs/alpakka_firmware/blob/main/src/headers/hid.h') actions] to be performed, grouped with the #[em ACTIONS] macro for convenience.

  p Actions are either keyboard keys, mouse buttons, gamepad buttons, or special functions (procedures).
  hr

  h3 Button behaviors
  p Depending on the behavior there may be primary and secondary actions. The possible behaviors are:

  table.manual.hdiv.col4
    tr
      th NORMAL
      th Actions triggered
      th Actions held
      th Actions released
    tr
      td Primary actions
      td When the button is pressed
      td While the button is pressed
      td When the button is released
    tr
      td Secondary actions
      td -
      td -
      td -

  table.manual.hdiv.col4
    tr
      th HOLD_EXCLUSIVE #[br] HOLD_EXCLUSIVE_LONG
      th
      th
      th
    tr
      td Primary actions
      td When the button is released before the time threshold
      td No
      td Immediately
    tr
      td Secondary actions
      td When the button is pressed for longer than the time threshold
      td While the button is pressed
      td When the button is released

  table.manual.hdiv.col4
    tr
      th HOLD_OVERLAP
      th
      th
      th
    tr
      td Primary actions
      td When the button is pressed
      td While the button is pressed
      td When the button is released
    tr
      td Secondary actions
      td When the button is pressed for longer than the time threshold
      td While the button is pressed
      td When the button is released

  table.manual.hdiv.col4
    tr
      th HOLD_OVERLAP_EARLY
      th
      th
      th
    tr
      td Primary actions
      td When the button is released before the time threshold
      td No
      td Immediately
    tr
      td Secondary actions
      td When the button is pressed
      td While the button is pressed
      td When the button is released

  table.manual.hdiv.col4
    tr
      th STICKY
      th
      th
      th
    tr
      td Primary actions
      td When the button is pressed
      td Permanently
      td When the profile is changed
    tr
      td Secondary actions
      td When the button is pressed
      td While the button is pressed
      td When the button is released
  hr

  h3 Behavior timing
  p Also for now, Button behavior time thresholds are defined as config constants:
  ul
    li: em CFG_PRESS_DEBOUNCE
    li: em CFG_HOLD_EXCLUSIVE_TIME
    li: em CFG_HOLD_EXCLUSIVE_LONG_TIME
    li: em CFG_HOLD_OVERLAP_TIME
    li: em CFG_HOLD_OVERLAP_EARLY_TIME
